[2019-05-11 23:07] hjvedvik commented on #287
@Truemedia Is this still an issue with Gridsome 0.6?

[2019-05-11 23:29] hjvedvik commented on #61
@chadananda Any Remark plugin should work with the Gridsome Remark transformer :)

[2019-05-11 23:32] hjvedvik commented on #18
The `remark-attr` plugin should work with the latest version of the Remark transformer now.

[2019-05-12 01:38] kaceo commented on #401
Yes it seems quite awkward, and also the gridsome.config.js can get rather complicated and hard to read in a project with many data sources (e.g. an ecommerce site, dozens of schemas).

[2019-05-12 06:12] gevera commented on #23
Will i18n support be on the official roadmap?

[2019-05-12 13:21] sergeyfilimonov commented on #29
@htasha I have created a starter for Airtable. Hope it will be published soon. Check this https://gridsome.org/starters during the next week.

[2019-05-12 14:00] jackprosser commented on #396
I feel like this a fairly major issue if you want to get Gridsome adopted for certain CMS platforms. It would be amazing if it was a default fallback, and we didn't need to do the above. Just ignoring and not validating the fields that don't exist. Looking at the Gridsome code, this looks possible.

This issue is talked about the same thing, as it's fairly common issue https://github.com/gatsbyjs/

[2019-05-12 14:48] drewtownchi opened #419 "Data loading twice with chrome on 0.6"
## Description
When viewing a page on chrome that contains a list of posts the json is pre-fetched.  Once you click on the g-link anchor it loads the same json again along with some other json that contains no data.

The results in a user experience that feels quite a bit slower than 0.5 as the page load is no longer instantaneous but relies on some network requests completing.

![chrome](https://

[2019-05-12 14:56] drewtownchi opened #420 "Intersection Observer not working and duplicate js load in Firefox in 0.6"
## Description

When loading a page on Firefox that contains a list of posts there is no pre-fetching happening.  This is in contrast to Chrome where the additional js files and json are loaded once they are shown on the screen.

Additionally, js files are being loaded twice on page load.

![Firefox](https://user-images.githubusercontent.com/9697868/57583982-f9ba4d80-749b-11e9-9d1a-7d8ca69eb4f6.PN

[2019-05-13 10:31] hacknug opened #421 "Regression in `@gridsome/source-wordpress`"
## Description

Latest version of `@gridsome/source-wordpress` (v0.3.0) breaks when trying to work with things that were available on v0.2.2.

### Steps to reproduce

Clone [this repo](https://github.com/hacknug/klayaya/), run `npm run develop` to check everything works fine. Upgrade `@gridsome/source-wordpress` to v0.3.0 and watch it break.

### Expected result

Everything should still work? 🤔

#

[2019-05-13 11:09] hjvedvik commented on #421
`@gridsome/source-wordpress` 0.3 is meant to work with `gridsome` 0.6.

I tried your project with the latest versions and it seems to work as expected. Just change all `to` attributes from `:to="{ name: 'store' }"` to `to="/store"` where you have `g-links` with named routes.

[2019-05-13 11:34] hacknug commented on #421
That's weird. I've tried updating both dependencies and changing the attributes like you suggested (I even remove all `g-link` instances from the project) but I still get this error:

[code]

[2019-05-13 11:49] hjvedvik commented on #421
I just got the same error. Working on a fix now :)

[2019-05-13 13:58] luochuanyuewu commented on #407
@hjvedvik  Thanks, problem fixed!

[2019-05-13 13:58] #407 closed

[2019-05-13 15:11] danrocha commented on #39
Could definitely be worthwhile. I am surprised this is not a more frequently requested feature. I was halfway building my blog in Gridsome but had to move Vuepress because of the lack of Vue-in-Markdown support in it. And I would gladly come back to Gridsome if it were ever implemented...

is this really an edge use case?

[2019-05-13 15:57] hjvedvik commented on #39
@danrocha No, it isn't. We are working on a plugin which makes it possible. It will work like in my comment above. The main difference between that plugin and the filesystem plugin is that it will compile each markdown file with webpack to generate HTML markup that can be hydrated by Vue in the browser. I'm not sure how well it will perform for very large blogs etc but should be perfect for docume

[2019-05-13 15:59] cossssmin opened #422 "TypeError: Cannot destructure property `collection` of 'undefined' or 'null'"
## Description

Trying to update the [Bleda starter](https://github.com/cossssmin/gridsome-starter-bleda) to Gridsome 0.6, I just ran into this.

### Steps to reproduce

First, fix the `feedItemOptions` in `gridsome.config.js`, as I didn't push anything yet and this error will be triggered before the type error (`node.fields.*` becomes `nodes.*`).

Then, run `gridsome build`.

### Expected result

[2019-05-13 16:06] hjvedvik commented on #422
Found the issue. I'll release a fix today :)

[2019-05-13 18:06] hjvedvik commented on #414
It looks like you do everything correct. What does your generated GraphQL schema look like? Does it have the `shoe` root field?

[2019-05-13 18:13] yann-yinn commented on #414
Yep all seems okays on GraphQL explorer

<img width="1405" alt="Capture d’écran 2019-05-13 à 20 11 54" src="https://user-images.githubusercontent.com/335495/57643994-62e4b280-75bb-11e9-9c6d-0833d353d898.png">

[2019-05-13 18:17] hjvedvik commented on #396
CMS platforms are waiting for the APIs I mentioned above to be able to define their own schemas so it is a high priority for us. Their source plugins will do the work so end users just fill in some URLs and tokens. And then no more missing fields in the schema.

GraphQL is very strict about which fields you define in the query. I know that it is possible to execute queries without validation and g

[2019-05-13 23:25] jackprosser commented on #396
Yeh, I didn't think disabling validation was a good option but was trying to figure out from the code if there was the possibility for disabling it just for fields not found. I can understand why it's there, but for something like this it's extremely limiting when working with a CMS.

One option I've looked at would be to write custom parser so you could define certain fields as optional within th

[2019-05-14 09:22] vorti2 commented on #408
@hjvedvik Sorry, this week I have no time ... Hopefully on next weekend 😉

[2019-05-14 09:41] hjvedvik commented on #39
@SteveEdson @danrocha Just created a PR #424 for the plugin. Any feedback would be appreciated.

[2019-05-14 15:05] Truemedia commented on #287
@hjvedvik This was resolved as far I remember. Wasn't able to replicate recently when using new build.

[2019-05-15 05:35] davidleininger opened #429 ":id in template routing switches to kebab case on build"
## Description

I'm using Airtable as a database for an app that I'm working on. The ids in Airtable look like this: `fervyBx8lmlG19BoJ`. I'm using `:id` as a param for routing to each piece of content. When I run `gridsome build` it creates the directories in kebab case, like this: `fervy-bx8lml-g19-bo-j`. This breaks all of the routes that are based on the id.

### Steps to reproduce

1. Add a d

[2019-05-15 12:27] #393 closed

[2019-05-15 12:51] robaxelsen commented on #387
@envygeeks please see response from @tomtev :point_up:

[2019-05-15 12:54] robaxelsen commented on #403
@wildante thanks! could you also test with latest release 0.6 release, please?

@tomtev @hjvedvik any comment on this?

[2019-05-15 13:03] robaxelsen commented on #390
Thanks a lot for the request and commits! :tada: :smile: @ameistad if you're finished, or ready for feedback, could you please make a PR out of this?

[2019-05-15 13:07] robaxelsen commented on #380
@allanwhite thanks for all the work looking into and reporting this!

How about we make a seperate issue with a feature request based on this suggestion?:

[2019-05-15 13:08] #409 closed

[2019-05-15 13:10] robaxelsen commented on #304
@tomtev have you had a chance to have a look at the starter by @Larsklopstra?

@suits-at thanks for working on this in parallel as well! Good work. Perhaps we can add a link to your started in the docs.

[2019-05-15 13:11] robaxelsen commented on #312
@hjvedvik is this fixed now in 0.6?

[2019-05-15 13:14] robaxelsen commented on #391
Assuming @kaceo's findings are correct, I am closing this. Feel free to open if new findings appear also in newest source-filesystem.

[2019-05-15 13:14] #391 closed

[2019-05-15 13:18] hjvedvik commented on #429
Oh, fields are slugified by default when used in routes. You can append `_raw` to use the original value instead like `/page/:id_raw`. But I think the `id` should be left untouched. Will fix that!

[2019-05-15 13:19] robaxelsen commented on #58
Closing, due to findings by @menteora above. Please reopen if there are more questions/issues.

[2019-05-15 13:19] #58 closed

[2019-05-15 13:21] robaxelsen commented on #410
Closing, as this should not be a problem anymore in 0.6. Please reopen if problem persists.

[2019-05-15 13:21] #410 closed

[2019-05-15 13:21] #416 closed

[2019-05-15 13:24] robaxelsen commented on #378
@krstic-duci thanks for investigating, and providing a solution to reported issue. Closing this, but feel free to open if problem persists.

[2019-05-15 13:24] #378 closed

[2019-05-15 13:26] #18 closed

[2019-05-15 13:30] #422 closed

[2019-05-15 13:32] #287 closed

[2019-05-15 14:17] hacknug commented on #421
@hjvedvik works like a charm now. Thanks! ❤️

[2019-05-15 14:17] #421 closed

[2019-05-15 14:24] envygeeks commented on #387
I honestly don't know what comes from that page, as it's part of gridsome, I do know that it happens whenever I tell gridsome not to use 127.0.0.1, but all I know is that page is part of the graphql stuff probably.

[2019-05-15 15:15] cossssmin opened #430 "Pagination 404 when developing locally"
Updated my starter to Gridsome v0.6.1, and I'm seeing the pagination returns a 404 when developing locally with `gridsome develop`.

However, this only happens locally - `gridsome build` generates the pages properly, and navigation works fine in production, as you can [see](https://gridsome-starter-bleda.netlify.com/).

### Steps to reproduce

You can test it out with the Bleda starter:

https://g

[2019-05-15 15:19] ladislavsulc commented on #418
Hi, I just tried Gatsby now on the same machine and I have the same error. Just to let you know. No idea what to do now and what might cause this - it worked before for both until I did something with the Sharp library (but locally :().

[2019-05-15 15:20] ladislavsulc commented on #418
Looks like a Node problem after all, will keep you posted: https://github.com/nodejs/node/issues/27379

[2019-05-15 15:33] ladislavsulc commented on #418
Updated to Node V12.2.0 and all good. Thank you.

[2019-05-15 15:33] #418 closed

[2019-05-15 16:46] antoinegrelard opened #431 "$emit sent but not triggered in 0.6"
## Description

We upgraded to 0.6 to use the new pages API (which works perfectly, thanks for that!) but we also noticed an issue regarding the click handlers we added to our header links, they're not triggered after the first visit (they're all internal links using the g-link component).

We previously tweaked the render function to be able to add a transition between the pages. One of those twe

[2019-05-15 17:55] danieldocki opened #432 "g-image not crop"
## Description

I do not know why but it seems that g-image is not working properly, it does not put the image at the optimal size and with that it is downloading an image with more than 4mb.

<img width="824" alt="Screen Shot 2019-05-15 at 14 48 07" src="https://user-images.githubusercontent.com/10542/57797661-45c9f400-7721-11e9-84f9-c95e7846b9bc.png">

### Environment
package.json
[code]

[code]

[2019-05-15 19:10] mjatharvest opened #433 "Missing slug and date in GraphQL after upgrade to 0.6 version"
Hi folks,

I have been using gridsome's local file system plugins to query data from Markdown files.

In gridsome 5.8 there were a slug and date added to each node automatically (even if they did not exist in yaml frontmatter).

After upgrading to gridsome 0.6 they the slug and date are gone. Is it possible to get them back in GraphQL data?

[2019-05-15 19:31] hjvedvik commented on #433
`slug` and `date` is not added automatically in 0.6. The `date` field was just current date if no date was set on the node so it wouldn't make sense to use it. May I ask what your use case is for using `node.slug` in your components?

[2019-05-15 19:37] hjvedvik commented on #432
What does your frontmatter section with the `imageUrl` field look like?

[2019-05-15 19:38] mjatharvest commented on #433
Thanks for reply.

For the slug:
I would use slug on occasion in Vue templates as part of an attribute like a :key :class :id as it was safe in my case to consider the slug a unique identifier.

For the date:
The CMS I'm using builds the date into the filename as in "2019-01-01.article-title-slug.md" - I thought gridsome was parsing the date from the file name but sounds like I was mistaken.

I do

[2019-05-15 19:50] hjvedvik commented on #433
I see. The `slug` wasn't a unique value. So it's probably better to use `id` for keys etc.

And Gridsome didn't parse the date from the filename :) You have access to the filename with GraphQL with `node.fileInfo.name`. So you can try to parse the date in the templates. And you can use the filename for sorting too with `sortBy: "fileInfo__name"` as an argument in the query. But I think we need to

[2019-05-15 20:05] mjatharvest commented on #433
Sounds good!

That hook would be helpful to add things that we just can't get in the markdown file for one reason or another.

When fetching data from an API, looping over the results, and building nodes manually that's easier to do; but it seems like it's not possible with current set up of the file system plugin.

[2019-05-15 21:12] allanwhite commented on #380
Whatever works for you, let me know how I can help.

[2019-05-16 00:28] darkrubyist commented on #292
Any news on this?

The only way it works is with this:

`require('!!assets-loader?width=90!~/assets/img/' + img);`

But this reduces the performance a lot.

Best

[2019-05-16 07:25] willdante commented on #403
@robaxelsen Hi, it's ok with 0.6 ;)

[2019-05-16 08:25] robaxelsen commented on #430
@hjvedvik can this be closed, ref your commit :point_up: ?

[2019-05-16 08:28] robaxelsen commented on #433
Closing, as clarification and fix has been provided. Feel free to reopen or open a new issue if needed.

[2019-05-16 08:28] #433 closed

[2019-05-16 08:29] robaxelsen commented on #292
Pinging @hjvedvik for visibility.

[2019-05-16 08:29] #403 closed

[2019-05-16 08:39] robaxelsen commented on #380
Sure, and thanks!

Hm... Looking deeper into this, perhaps we should keep this issue as is.

@hjvedvik @allanwhite would a solution be to either change the remark-slug plugin to always prefix slugs with leading number, or make it optional via configuration option in the plugin?

[2019-05-16 11:07] xyNNN opened #434 "Context for pages not available during build"
## Description

When I try to run `gridsome build` the manually created static pages have no access to the defined "context".

### Steps to reproduce

[code]

[code]
### Expected result

Should render as in the development mode.

### Actual result

Failed to render /kontakt
TypeError: Cannot read property 'content' of null

### Environment

<pre><code>
Libs:
- gridsome version: 0.6.1
- @gridsome/c

[2019-05-16 13:42] danieldocki commented on #432
@hjvedvik

I think you want to see this.

[code]

[2019-05-16 15:53] allanwhite commented on #380
@robaxelsen @hjvedvik I would think adding an optional slug prefix (and including it in the docs, so people can remove it if necessary) would be optimal from a user (developer using Gridsome) perspective. This way users could add the prefix for other reasons outside this issue (say, scoping CSS classes).

[2019-05-17 06:34] sergeyfilimonov opened #437 "Two viewports tags in <head> — one unwanted"
I am having two viewports tags in <head>:
[code]
This one was not set by me. And:
[code]
This one was set by me in `Default Layout`:
[code]

How do I delete the first viewport tag?

[2019-05-17 07:30] tomtev commented on #437
try add key: ‘viewport’ to you custom one

[2019-05-17 07:37] sergeyfilimonov commented on #437
@tomtev thanks! Overlooked "If you need to overwrite meta tags, add key property." on https://gridsome.org/docs/head

Works now.

[2019-05-17 07:37] #437 closed

[2019-05-17 07:45] sergeyfilimonov commented on #411
@jamelt `background-image url('@/assets/images/help.png'` or `background-image url('~/assets/images/help.png'` should work.

[2019-05-17 14:46] jamelt commented on #411
I'll give it a shot, haven't gotten around to it yet though. I'm hopeful
though! 😁

On Fri, May 17, 2019 at 3:45 AM Sergey Filimonov <notifications@github.com>
wrote:

--

Jamel Toms
jameltoms@gmail.com

[2019-05-17 14:55] markWicht opened #438 "g-image loads twice"
## Description

All g-image load twice, max size and correct viewport size

![Screen-2019-05-17_16-16](https://user-images.githubusercontent.com/38689912/57934203-6d56c300-78bf-11e9-88f3-727739e1c514.png)

### Steps to reproduce

Thoroughly tested, should be easy to reproduce, or some platform/node version issue

`gridsome create gridsome-test`
Index.vue
`<g-image alt="Example image" src="~/assets

[2019-05-17 15:06] martifenosa commented on #310
Hello everyone, I'd love to have this feature up and running. Is there any workaround I could use in the meantime? I just need the 'leave' hook to work as well, now as said in the first comment only the appear or 'enter' does. Keep going, great repo, best of luck.

[2019-05-17 15:38] martifenosa opened #439 "Fixed Components through page changes"
I'd love to know if there is, or request this feature if there isn't, a way to keep components loaded through pages.
At the begining I thought the 'Default.vue' layout file wouldn't refresh, but it is doing so.

For instance, if I want a fixed header and I don't need it to refresh on every page change.
Is there a way for this? Would the router-link update it's classes?

Another case, I have a cust

[2019-05-17 18:30] waxapi opened #440 "Apollo"
## Summary

Brief explanation of the feature.

### Basic example

Include a basic example or links here.

### Motivation

Why are we doing this? What use cases does it support? What is the expected outcome?

[2019-05-17 18:30] #440 closed

[2019-05-17 20:11] mjatharvest commented on #405
Quick follow up, do I need to include something into the "mounted" hook also? Here is a full look at the complete vue template.

[code]

[2019-05-17 20:42] rykersouthwick opened #441 "Apollo GraphQL Support"
## Summary

Ability to use apollo graphql inside gridsome.

_for the record I love to use Apollo paired with Adonis.js
[article](https://scotch.io/tutorials/build-a-graphql-server-with-apollo-server-and-adonisjs)_

### Basic example

You would use gridsome the same way but it will pull data from the apollo graphql server

### Motivation

I think using apollo as an api that static hosted websites c

[2019-05-17 22:22] ameistad commented on #390
PR was merged (#390).

[2019-05-17 22:22] #390 closed

[2019-05-17 22:42] dominiquedutra commented on #438
I was able to reproduce this on a clean 0.6 gridsome.
Just added an image on ~/images and linked to it using <g-image> component.
Then, I deployed the website to zeit now.

https://tudocondo-gridsome-wordpress.ddutra.now.sh/image

[2019-05-17 23:49] rykersouthwick commented on #80
Bumping this thread.

I think gridsome isn't complete without the ability to use an external Apollo API.

@jakedohm keep us updated on what you're doing with apollo and gridsome.

[2019-05-18 08:44] kubarazny opened #442 "Data store API is not working"
I'm trying to add basic example from: https://gridsome.org/docs/data-store-api/#basic

but it isn't adding node "customField". Node "title" is visible, but if I remove it from method "addNode" it's still existing in graphql...

[2019-05-18 09:28] #442 closed

[2019-05-18 10:48] kessir-cloudator commented on #391
@kaceo Are you saying custom fields work out of the box or did you have to change the config?

[2019-05-18 11:52] atilacamurca opened #443 "Support for async components"
## Description

Support for Vue async component syntax, as seen in the [docs](https://vuejs.org/v2/guide/components-dynamic-async.html#Async-Components)

[code]

### Steps to reproduce

This is a [link to a codesandbox example](https://codesandbox.io/s/saravieiragridsomestartercodesandbox-juetk)

The command `npm run develop` runs fine.

But the command `npm run build` fails.

[code]

### Expected

[2019-05-18 12:49] arttemiuss43 commented on #72
It also would be very useful if gridsome cli had `--no-build` option to update pages without rebuilding the entire application. So we could skip the compilation process only when we need it.

[2019-05-18 13:43] mittalyashu commented on #210
[Thermal](https://thermal.codecarrot.net) landing page is also powered by Gridsome.

[2019-05-19 09:01] robaxelsen commented on #310
@krmax44 any update on this?

@hjvedvik could you please address @krmax44's last question above? :point_up:

[2019-05-19 09:06] robaxelsen commented on #441
Duplicate of #80. @rykersouthwick feel free to re-open if I have misunderstood your request. Otherwise please post any additional details in #80.

[2019-05-19 09:06] #441 closed

[2019-05-19 09:07] krmax44 commented on #310
Sorry, I didn't work much on this after discovering [Saber](https://saber.land), which already had all features (including page transitions) I needed at that point in time.

[2019-05-19 12:59] vorti2 commented on #351
Good afternoon @hjvedvik, how is your timetable to implement the option  `camelCasedFieldNames` in the source plugin?

[2019-05-19 14:59] FactorPi opened #444 "All pages get 301 on direct access"
## Description

I have published very basic website to old fashion FTP server. The website is accessible at http://www.septictankdisposal.ie

All works as expected and I'm very happy that I have used Gridsome for this project because it's really fantastic tool.
However after doing technical audit to the website I have discovered that all pages are being 301 redirected and this is really bad for SE

[2019-05-19 15:30] Al-Rozhkov commented on #443
Definitely it doesn't work on codesandbox. But I can't reproduce it locally with Node v10.15.3. Either global import inside `main.js` and inside a page component works for me.

[2019-05-19 15:49] hjvedvik commented on #351
@vorti2 The `camelCasedFieldNames` option was meant as a temporary workaround for people that wanted to update to 0.6 but keep their old GraphQL queries. It will probably be removed. We're working on APIs for letting plugins define their own schemas with custom resolvers etc and I think that will be a better way to let source plugins camel case their field names.

[2019-05-19 16:33] vorti2 commented on #351
@hjvedvik thanks for clarification.

[2019-05-19 17:29] vorti2 commented on #408
I have `camelCased` fields in all of my GraphQL schemas, so I can't do any more tests with 0.6.x until APIs for letting plugins define their own schemas with custom resolvers are implemented.

[2019-05-19 17:34] hjvedvik commented on #408
Oh, I see. Which source plugins are you using?

[2019-05-19 17:36] vorti2 commented on #408
I use `@gridsome/source-filesystem`

[2019-05-19 18:32] hjvedvik commented on #444
The only way to work around it for now is to append a `/` when you use `g-link`. I think we are going to normalize the paths and append a slash automatically in Gridsome v0.7 (when using `g-link`).

[code]

[2019-05-19 18:57] ameistad commented on #444
On some servers (for example Apache), trailing slashes indicates that you're looking at a folder. An url without trailing slashes indicates a html file.

Gridsome creates folders with an index.html. When you try to access `http://www.septictankdisposal.ie/contact` your server thinks this points to `contact.html`.

Gridsome doesn't create a `contact.html` but `/contact/index.html`. When your server

[2019-05-19 22:22] rykersouthwick commented on #80
Your method works like a charm. I got gridsome to pull the schema from my apollo server and was able to create blog posts via JWT authentication.

[2019-05-20 02:49] jefer590 opened #445 "@gridsome/source-contentful: Transform Markdown input with remark plugin"
## Summary
In Contentful, the text field  can have many shapes and one of them is specially Markdown.

The current problem is that if I get markdown input from contentful and I use the remark plugin, the markdown doesn't get transformed into HTML to get "gridsome friendly" html

### Basic example (expected result)
1. Create the `content` field in Contentful (using the markdown editor)
2. Create a

[2019-05-20 02:55] 0aveRyan opened #446 "Layout Root Element ID Overridden"
## Description

When creating a new Layout component, the root element in the `<template>` tag doesn't accept an `id` parameter -- it's always overridden with `id="app"`.

<img width="317" alt="Screen Shot 2019-05-19 at 7 48 38 PM" src="https://user-images.githubusercontent.com/9565066/57993767-38896e00-7a6f-11e9-92e2-fc180863ff36.png">

<img width="198" alt="Screen Shot 2019-05-19 at 7 48 59 PM"

[2019-05-20 06:24] u12206050 commented on #250
@1onedb
https://gridsome.org/plugins/gridsome-source-firestore
This uses Firebase's Firestore.

[2019-05-20 09:01] tomtev commented on #406
You don't want code-splitting? :)

[2019-05-20 09:15] hjvedvik commented on #402
@namoda378 Does it work better in Grisome 0.6? Array data should be available as `node.data`.

@kaceo GraphQL is very strict about the schema and queries. We are working on some methods which will let you define the schema yourself in a simple way. It will be included in the next version.

[2019-05-20 09:28] tomtev commented on #430
@robaxelsen I think so :)

[2019-05-20 09:28] #430 closed

[2019-05-20 10:19] javipuche commented on #406
As a general rule, yes, but in some very specific cases, no. Would it be possible?

Thanks

[2019-05-20 13:11] atilacamurca commented on #443
This is the project that I've been working on <https://github.com/atilacamurca/agregador-fc>.

After install Node v10.15.3, I'm still getting the error:

[code]

[2019-05-20 13:16] hjvedvik commented on #443
You can try to uninstall Vue in your project. Gridsome has Vue included.

[2019-05-20 14:09] robaxelsen commented on #250
Closing this as we already have (as @u12206050 pointed out :point_up:) a source plugin for firestore. Please reopen or create a new issue if you'd like to created enhancements/additions to this plugin.

[2019-05-20 14:09] #250 closed

[2019-05-20 14:34] atilacamurca commented on #443
Even uninstalling Vue, the same thing happens.

[2019-05-20 19:20] dominiquedutra commented on #394
For anyone trying to acomplish this, I found https://peachscript.github.io/vue-infinite-loading/ to work quite well alongside gridsome 0.6.2.
For this example I`ll assume wordpress source as headless cms.

`yarn add vue-infinite-loading`

Import the component like so:

[code]

Ad the bottom of the list of posts on Index, render the component on ClientOnly tags (no SSR for this)

[code]

Your infin

[2019-05-21 11:42] atilacamurca commented on #210
https://atilacamurca.github.io/agregador-fc/ - Website with statistics of the Brazilian fantasy game Cartola FC. It uses JSON to load content with the `@gridsome/transformer-json` plugin. There's not much documentation about that, but I hope write some about it.

[2019-05-21 14:03] atilacamurca commented on #443
Just pasting a link to a branch that still uses async components, because I needed to revert to continue to work on my website: <https://github.com/atilacamurca/agregador-fc/tree/async-components>

[2019-05-21 15:08] FactorPi commented on #444
Thanks for all the feedback. At the end I have decided to resolve this issue by adding extra slash to each link on the website as per @hjvedvik suggestion.
I didn't find any reference to this issue so it might be useful to have this information in Gridsome docs.
Keep up the good work.

[2019-05-21 18:16] etiennemarais commented on #167
Will there be a way to hook into the various service worker lifecycle methods like Vue cli 3 does?

[2019-05-21 18:54] etiennemarais commented on #167
I checked out this branch and tested the `build` command. It creates the service worker fine but it does not seem to generate the `manifest.json` file.

**Console Error**
<img width="813" alt="Screen Shot 2019-05-21 at 20 50 50" src="https://user-images.githubusercontent.com/4479918/58122683-753d9c80-7c0a-11e9-9e60-94c2b035a0e1.png">

My config is set to super basic stuff.

[code]

Is there someth

[2019-05-21 19:17] steebchen commented on #167
The last commit on this branch is quite old, from december 2018. I don't think it's up-to-date at the moment.

[2019-05-21 19:29] etiennemarais commented on #167
@physcocode Do you perhaps have any insight on this issue please? Could you perhaps share your demo so we can compare notes?

[2019-05-21 23:09] sidekaraktergendut opened #449 "Source Request: Google Docs plugin"
## Summary

Fetching Google Docs (not to confuse with Google Spreadsheet) from Drive folders. Google released Docs API few months ago.

### Basic example

Gatsby already has this plugin here : [gatsby-source-google-docs](https://www.gatsbyjs.org/packages/gatsby-source-google-docs/)

### Motivation

A lot of people are using Docs already, it has first-class collaborate features and writing experien

[2019-05-22 03:24] spenwall commented on #200
I would like to take a shot at this if that is ok.

[2019-05-22 04:38] gilesbutler commented on #290
Hey @vdiaza, I just had a similar issue with `vue-scrollama` as it requires the `window` object to be available.

The issue could possibly be that you're not importing the default export. This might need to be added to the docs too. But try this...

`VueTilt: () => import ('vue-tilt.js') .then( m => m.default ) .catch()`

---

@tomtev the examples in the [docs](https://gridsome.org/docs/assets-scr

[2019-05-22 07:52] mnlmaier opened #450 "Netlify CMS list not returned"
Hey guys,

I'm new to the JAMStack and can't figure out for the life of me how I'm able to properly query Lists of elements stored in Netlify CMS. Maybe this is a stupid question but as of now I'm totally lost.

I have several Services which each contain dynamic content pages.

[code]

This is my `config.yml` and it's all showing up correctly on Netlify. Also when storing content, it all seems to

[2019-05-22 09:27] u12206050 commented on #312
I am having the same issue using Gridsome `0.6.2`. Works fine in`gridsome develop`, but can't build.

[code]

[2019-05-22 09:35] ShahrukhAhmed89 opened #451 "Gridsome SiteMap Plugin has a build error"
## Description

So, I installed the Sitemap plugin and

- Added the setting to `gridsome.config.js` as so
[code]
- I have also added the siteURL, so I don't quite really know why I am getting the below error when I run `gridsome build`.
[code]

Libs:
-@gridsome/cli v0.1.0
-gridsome v0.6.2

[2019-05-22 09:44] hjvedvik commented on #451
The config name is `siteUrl`, not `siteURL` :)

[2019-05-22 09:57] ShahrukhAhmed89 commented on #451
Oops, thank you. That was very stupid of me.

[2019-05-22 09:57] #451 closed

[2019-05-22 10:09] #429 closed

[2019-05-22 10:44] vorti2 commented on #408
hi @hjvedvik any news for this issue?

[2019-05-22 10:59] vorti2 commented on #450
IMHO one of your problems came from the widget type `list` that has no option `types`. It's `field` or `fields`, see https://www.netlifycms.org/docs/widgets/#list.

[2019-05-22 13:21] jefer590 opened #452 "@gridsome/source-contentful: Extend GraphQL Image type to support Contentful's Image API Params"
## Summary
Right now, when you retrieve an asset/image from Contentful, it just retrieve the url and the passed params has no effect on it.

the idea of this is extend the graphql image type to be able to pass the same params (and more) to be compatible with the Image API

### Basic example
If I retrieve an image with the next GraphQL Query:
[code]

It should get the image with the next URL:
`//im

[2019-05-22 16:33] cfjedimaster commented on #315
Query - what is the API format for that method? The docs don't say what arguments are passed to it.

[2019-05-22 17:58] cfjedimaster commented on #315
Unfortunately this isn't quite enough. I can get a list of pages for my site, but I can't get access to the content generated. I mean I do see the path of the generated HTML, but if I want to get the rendered content from *just* the page, and not the layout, that doesn't seem to be available.

So for example, for Lunr to work I need to provide the page content in a JSON file.

[2019-05-22 18:57] mnlmaier commented on #450
https://github.com/gridsome/gridsome/issues/209#issuecomment-466100113

SOLUTION RIGHT HERE. Lost my mind about this!

[2019-05-23 00:01] igregson opened #453 "Source request: Sanity plugin"
### Summary

Source plugin for [Sanity.io](https://www.sanity.io/)

### Basic example:

Gatsby's: https://www.gatsbyjs.org/packages/gatsby-source-sanity/

[2019-05-23 07:18] tomtev commented on #453
This is in development by Sanity team :)

[2019-05-23 09:30] hjvedvik commented on #450
@mnlmaier Which Gridsome version are you using? Gridsome v0.6 doesn't have a `content` field included so it should be okay to name it `content`.

[2019-05-23 09:54] hjvedvik opened #454 "Move transformer plugins to dedicated source plugins"
Move transformer plugins to dedicated source plugins for various content types. So instead of installing `@gridsome/source-filesytem` alongside a transformer you only need to install a `@gridsome/source-remark` plugin. The same with `@gridsome/source-json` or `@gridsome/source-yaml` etc. This will give more control to each source plugin to do what they want with the files. The `@gridsome/source-fi

[2019-05-23 11:29] cizza commented on #444
Hi guys,

I've run into the same issue and added the trailing slash on my g-links. However I think this issue might affect the **@gridsome-sitemap** plugin. The trailing slash is not present in the generated sitemap paths and therefore when submitting the sitemap.xml to google, the redirect issue persists.

[2019-05-23 12:17] tomtev commented on #454
Just an idea: Could we call `source-remark` for `source-markdown` ? I know it's powered by Remark markdown processor, but it's still a **markdown** source?

[2019-05-23 12:24] tomtev commented on #452
@crsten Would you mind give a comment on this? :)

[2019-05-23 13:20] hjvedvik opened #455 "Define routes for nodes in one place"
Move route options for all content types into a `routes` _(or any better name)_ section in `gridsome.config.js`. Currently, each source plugin implements routes on their own. But after this change, source plugins doesn't need to worry about routing etc. We also believe it will give a better overview having all node routes in one place. And it will be easier to extend the functionality later. Conte

[2019-05-23 15:48] Al-Rozhkov commented on #455
Would it be possible to set up nested routes, dynamic nested routes or named views?

[2019-05-23 17:06] nolfranklin opened #456 "Importing Bootstrap 4"
## Description

When importing Bootstrap 4 (node_modules) into main.js, 404 error is thrown.

[code]

### Expected result

jQuery + Bootrstrap working as intended.

### Actual result

Bootstrap JS works on "gridsome develop" but fails on "gridsome build"

[code]

[2019-05-23 19:27] tomtev opened #457 "Gridsome Serve Mode"
# Gridsome Serve Mode
Gridsome has a command called `gridsome serve` that has been included from the beginning. This is not functioning properly yet, so this issue is highlighting what we want to achieve with it for Gridsome v1.0.

### What is it?
A way to run Gridsome in SSR mode on a Node server
with the GraphQL data layer included.

This is perfect for example instant previews
for content edito

[2019-05-23 20:45] Yo1L commented on #384
Hello,
Has someone found something ? Event an hint ?

Thx

[2019-05-23 22:13] hjvedvik commented on #384
Yes, I think I know what goes wrong. Try this in your `gridsome.config.js` file:

[code]

[2019-05-23 23:01] mnlmaier commented on #450
Ah, I see – I'm on `0.5.7`. Thanks for the heads up! :)

[2019-05-24 08:28] LokeCarlsson commented on #456
Not sure what the issue is but I might have some tips you can look into.

https://github.com/LokeCarlsson/gridsome-starter-bootstrap

This is my gridsome starter project with bootstrap + bootstrap vue included. Might be helpsome in some way, other than that all I can think of is if you have tried bootstrap-loader?

[2019-05-24 09:09] tomtev commented on #83
Would love to make `incremental builds` a feature that would not require another cloud service to work. So it "just works" with for example Netlify and Zeit.

[2019-05-24 12:11] LokeCarlsson commented on #449
@tomtev I want to give this a try. I might get stuck or need help later on but I would like to know Gridsome core better and try to make a foundation at least.

Would you prefer me to develop it as a core plugin or stand alone external plugin?

[2019-05-24 13:00] nolfranklin commented on #456
Thanks, @LokeCarlsson! I was able to get Bootstrap-Vue setup without any issues but was curious if there was a way to load Bootstrap 4 /dist/js into webpack via the main.js file? Haven't taken a go at the boootstrap-loader option yet though - giving that a try now. :)

[2019-05-24 13:45] hjvedvik commented on #408
I don't think the `@gridsome/source-filesystem` is going to camel case the field names It will just use the original name from the source. It was a breaking change in 0.6 because plugins need to have full control over this :)

But we are working on some methods which will allow you to define the schema yourself in a simple way if you want to have one casing in front-matter but another casing in th

[2019-05-24 15:27] Yo1L commented on #384
You rocks !
It works for me :)

Thank you.

[2019-05-24 17:55] dominiquedutra opened #459 "Post images optimized by <g-image> on Wordpress Source"
## Summary

Have the wordpress post images available on GraphQL layer so they can be passed to g-image component.

During build / develop command:

- Wordpress Post HTML content is parsed;
- Posts are split into fragments being either html or img fragments;
- All images are downloaded from the remote source and stored locally if they haven't been before;
- Images are added to graphql
- You can now

[2019-05-25 03:31] altryne commented on #366
I'm having the same issue as described,  and I am on 3.0.6 vue-router version.

When I comment out the `context.router.beforeEach` block the build doesn't hang

[2019-05-25 09:59] LokeCarlsson commented on #456
Adding it to head via main.js should work yeah 👍

[2019-05-26 08:10] marwie opened #460 "FileNode > Skipping Duplicate Path"
I started modifying the [Forestry Starter](https://gridsome.org/starters/forestry-starter)
While gridsome develop I copied a markdown file, renamed it and edited it. When saving gridsome crashed.

After that I get the following warning during gridsome develop startup

<pre><code>
Initialize - 2.41s
FileNode > Skipping duplicate path for /projects/markdownfile
File Node > Skipping duplicate path fo

[2019-05-26 08:14] marwie commented on #460
perfect, just after opening the issue I found that the problem was caused by gridsome-plugin-remark-youtube which I added to gridsome config and which was also watching the project path for markdown file changes.

[2019-05-26 08:14] #460 closed

[2019-05-26 19:28] Ezra-Siton-UIX commented on #439
Yes. Looks her. If you put the `<header/>` component outside of the transition - you get this effect.
[code]

[2019-05-27 06:19] LokeCarlsson commented on #449
@sidekaraktergendut I have started working on the plugin and have a starting point, authentication and fetching some basic data is complete, there are a few things I need to solve and improve on but you should be able to test it at least! You can find [the repo here](https://github.com/LokeCarlsson/gridsome-source-google-docs).

[2019-05-27 06:53] jaahoo commented on #290
I find workaround with VanillaTilt.
First add VanillaTilt
`npm install vanilla-tilt`
In your component put to **mounted** hook
[code]
and finally put **ref="tilt"** on element you want to tilt

[2019-05-27 08:57] sidekaraktergendut commented on #449
I'm currently on a chromebook, and it seems codesandbox doesn't let me paste the authorization code in the terminal when gridsome develop is running. I'll try again later if I get my hands on my brother's windows laptop.

Thanks for taking this request by the way.

[2019-05-27 09:13] robaxelsen commented on #210
How can I help with this?

[2019-05-27 09:17] robaxelsen commented on #200
@spenwall thanks for the offer, and sorry for the late reply. I see you've already created the plugin on your own! Well done :)

Feel free to make a PR where you make the plugin an official @gridsome/source-google-sheets plugin.

[2019-05-27 09:17] #200 closed

[2019-05-27 09:21] robaxelsen commented on #444
@cizza thanks for the comment.

@hjvedvik @tomtev: Should we and/or update docs and enchance the sitemap plugin, as suggested? :point_up:

[2019-05-27 09:21] #450 closed

[2019-05-27 09:22] hjvedvik commented on #444
@robaxelsen I'll publish a fix for the sitemap plugin later today :)

[2019-05-27 09:23] #456 closed

[2019-05-27 09:23] #439 closed

[2019-05-27 09:26] robaxelsen commented on #290
@tomtev please see question from @gilesbutler above, and imo this issue can be closed when that's addressed.

[2019-05-27 10:01] Ezra-Siton-UIX commented on #446
I think this is not a bug - `App` id reserved (Because otherwise no way to create the vue instance). Even if you remove this id - gridsome will add this.

Vue uses `app` in all docs and so on.

[2019-05-27 11:05] LokeCarlsson commented on #210
There is always https://github.com/LokeCarlsson/awesome-gridsome which has a section for showcase projects. Feel free to open a PR with showcase sites there!

[2019-05-27 11:27] tomtev commented on #455
@Al-Rozhkov 0.7 will have client-side route support. We're thinking about doing it as Nuxt does. Where you add for example a `user/_id.vue` file to get a `user/:id` route + an option to do it programmatically.

[2019-05-27 14:12] cizza opened #462 "Vue renderState window.__INITIAL_STATE__ question"
Hi guys,

I'm rather seeking clarification on an issue I have than reporting a bug. I've installed the v0.6.2 version of gridsome and updated my side project. After running the build and testing, the pages are killing the server. My issue lies in the window.__INITIAL_STATE__ script which is injected by VUE in to the renderer html pages, which in my case is very big (the injected script). The site

[2019-05-27 14:47] Atinux commented on #455
I like this idea of having all the routes in the same key, more readability 👌

About routing, we plan to move from pages/_id.vue to pages/[id].vue for handling multiple params and better readability too :)

[2019-05-27 19:42] hjvedvik commented on #455
I think `pages/[id].vue` looks much better @Atinux :) We'll consider the same for the same reasons.

@Al-Rozhkov Nested routes and named views could be interesting. I'm not sure how to implement it with automatic generation and GraphQL etc atm, but will definitely take a look at it sometime.

[2019-05-27 20:09] hjvedvik commented on #462
We have the initial data as `window.__INITIAL_STATE__` to render the current page without needing to fetch the data in another request (to hydrate the DOM faster). The browser should be able to handle it either its fetched or comes from the initial state object. Could it be the reactivity stuff that slows things down? Or did it work in v0.5 with the same amount of data?

I think we can set a max s

[2019-05-27 20:46] cizza commented on #462
Hi,

I believe the reactivity is not an issue in this case. The problem is, that stuff doesn't get slow, that stuff simply won't load completely.

Your question about the v0.5 (0.5.8) - it did work with even more data. The side project is a very simple website (yet with lots of data that I import from DB). The difference I can see in the versions - in the v0.5.8, it did not have the window.__INITI

[2019-05-27 21:14] #29 closed

[2019-05-27 21:34] derevandal opened #463 "Markdown to static API"
Hi, how could I can generate a `.json` file with a list of items that I got from page query?

[2019-05-28 11:16] SteveEdson commented on #106
Yeah it'd be great if the changelog could be made more obvious, ideally in the root of the repo.

Thanks

[2019-05-28 11:28] SteveEdson opened #464 "g-link no longer working for pages?"
## Description

Describe the issue that you're seeing.

Since updating to 0.6.3 (from 0.5.8), my `g-link` elements no longer work for pages (they're still fine for posts).

### Steps to reproduce

[code]

With the corresponding `Posts.vue`, `Projects.vue` etc files within `src/pages`.

### Expected result

Previously, these links would resolve to `/posts`, `/projects` etc

### Actual result

Now,

[2019-05-28 11:33] hjvedvik commented on #464
This is one of the breaking changes in v0.6. We no longer autogenerate names for pages in `src/pages`. And it's easier to just write `<g-link to="/projects/">Projects</g-link>` :)

[2019-05-28 11:36] SteveEdson commented on #464
Fair enough, feels a little messy though. Do pages **have** to use the same url as the filename? Or is there scope for overriding the URL from the page meta etc?

[2019-05-28 11:41] hjvedvik commented on #464
Yes, URLs for pages in `src/pages` are generated from the filename. You can read more about it in the [docs](https://gridsome.org/docs/pages#creating-pages). If you need something different, create them [programmatically](https://gridsome.org/docs/pages-api) instead.

[2019-05-28 11:44] SteveEdson commented on #464
I might be wrong on this one, but previously if I had some nested folders within pages, could I just reference the generated name, and it would use the path to that file automatically? So if I reorganised that content, the URLs would automatically update?

[2019-05-28 11:49] hjvedvik commented on #464
The name was generated from the path. So `/page/one` became `pageOne`. Which means `/page/One.vue` and `/PageOne.vue` would get the same name.

[2019-05-28 11:51] SteveEdson commented on #464
Ah right ok, I was thinking you could do something like reference `one` and have it generate the `/page/one` URL.

Thanks for the clarification.

[2019-05-28 11:51] #464 closed

[2019-05-28 12:07] jamelt commented on #411
The response from @krstic-duci was the correct way to get this to work. Thanks for the help!

[code]

[2019-05-28 12:07] #411 closed

[2019-05-28 13:51] dominiquedutra commented on #438
Hey @hjvedvik @markWicht

I believe this is not related to Gridsome.

I made a sample page to test srcset loading. You can check it out at https://srcset-playground.ddutra.now.sh/

[code]

Using Chrome 74.0.3729.169 64 bits on MacOS and Chrome Device Simulator.

iPad PRO
![image](https://user-images.githubusercontent.com/4117138/58483069-fed2fa00-8135-11e9-9899-5eadc2e616c8.png)

Pixel 2
![image](

[2019-05-28 14:25] martifenosa opened #465 "Playground Crash"
## Description
Playground, the graphql explore crashes.

### Steps to reproduce
In my opinion some query got stuck and make it crash. Don't really know what trigger it.

Only the background is visible on the browser.
Console messages:
<img width="394" alt="Screenshot 2019-05-28 at 16 23 36" src="https://user-images.githubusercontent.com/12196520/58485779-f8a84200-8164-11e9-858b-1727f1c04b20.png">

[2019-05-28 14:35] robaxelsen commented on #465
@martifenosa thanks for reporting this. Could you please also share the code that caused it to crash, at least gridsome.config.js?

[2019-05-28 15:35] martifenosa commented on #465
Sure.

I don't have any clue on what was the code that caused it to crash, but my gridsome.config.js is this one:
`module.exports = {
  siteName: "Domestic",
  siteDescription: "Domestic Data Streamers",
  plugins: [
    {
      use: "@gridsome/source-wordpress",
      options: {
        baseUrl: "https://domestic.llos.dev", // required
        apiBase: 'wp-json',
        typeName: "WordPress", //

[2019-05-28 21:29] SteveEdson opened #466 "Emit events when g-image is loaded"
## Summary

I'd like to be able to tell when an image has finished loading via a `g-image` component, so that I can hook other things on to it, such as a lightbox zoom.

### Basic example

`<g-image src="~/image.png" width="500" @loaded="imageLoaded" />`

### Motivation

Being able to perform other tasks on the page or image once it has loaded, e.g. knowing the final size of the image element, hoo

[2019-05-28 21:34] SteveEdson opened #467 "Gridsome doesn't actually resize images"
## Description

Images parsed from my markdown files have their own srcset attributes, but they all reference the same image at the same size.

### Steps to reproduce

Image within markdown:

[code]

Generated HTML:

[code]

However as you can see, they all use the same `82a2fbd.1506d1a` hash, meaning that even mobile devices are loading the largest image.

### Expected result

The image reference

[2019-05-28 22:54] ryancookio opened #468 "Dynamic External Data inside GraphQL data layer"
Testing out Gridsome, trying to get my bearings together. I have been able to load an external API into the local GraphQL data layer as per the documentation:

[code]

However, the data fetched from the endpoint is only fetched **once** per build. That's doesn't seem too useful. Is the expectation to rebuild the site any time the data from an external API changes? I see this functionality is ackno

[2019-05-29 07:46] donPuerto commented on #261
@petar7777 how to set up mixins in gridsome, got an error?

[2019-05-29 08:34] robaxelsen commented on #468
@ryancookio Thanks for submitting your issue.

Gridsome is a Static Site Generator at it's core, using GraphQL in the build process to pull in the data source and generate the site based on the data and your templates and Vue.js logic. This is by design. You should still be able to use the data as state for your components though, so the main thing you'll be lacking compared to vanilla Vue.js or N

[2019-05-29 08:34] #468 closed

[2019-05-29 08:39] robaxelsen commented on #468
You can fetch data after load though, which might be what you're looking for. See here:
[](https://gridsome.org/docs/client-side-data/)

[2019-05-29 08:48] chorijan opened #469 "Cannot read property 'metaData' of undefined"
## Description

I'm trying to read the configuration data via GraphQL in the `Default Layout` in order to add dynamic SEO tags (JSON-LD schema and canonical urls) and get undefined errors.

Also is there a way to get the actual page title here dynamically?

This is my `Default Layout` code:

[code]

<img width="598" alt="Screen Shot 2019-05-29 at 10 38 40" src="https://user-images.githubuserconten

[2019-05-29 14:31] sergeyfilimonov opened #470 "<page-query> highlight in Atom"
Is there any way to highlight GraphQL queries within `<page-query>` and `<static-query>` in Atom? It is possible in VS Code with ESLint and Vetur extensions ([described here](https://www.leveluptutorials.com/tutorials/static-vue-with-gridsome/tooling)).

[2019-05-29 15:34] rylandg opened #471 "No way to have optional data in GraphQL queries."
## Description

I'm not sure this is a bug or a feature-request. It seems that while a specific <page-query> can have nullable GraphQL fields, if you want to query a source that you've personally defined it does not allow nullable entries.

### Steps to reproduce

Using the `gridsome/gridsome-starter-blog` try and create a post without a cover image. The only way to do so is by rewriting the Page

[2019-05-29 15:59] thminhVN opened #472 "Can't config proxy in configureWebpack"
## Description

I am following config devServer proxy in vuecli

### Steps to reproduce
- Add proxy to webpack config

[code]

### Expected result

Should change host

### Actual result

No change host

[2019-05-29 16:06] tomocrafter opened #473 "The wordpress's page feature to transformer-remark."
## Summary
The wordpress's page feature.

### Basic example
Add the isPage option to transformer-remark.
and If isPage is true, disable allBlogPost so that it can not be retrieved, and blogPost should be able to obtain it.

### Motivation
Because source-wordpress has this feature but transformer-remark does not.

[2019-05-30 08:50] tomocrafter commented on #473
I created page directory and separate the transformer-remark and solved.

[2019-05-30 08:50] #473 closed

[2019-05-30 09:01] inalbisdev opened #474 "Vue Tiny Slider Component"
Hello,

I'am using the vue-tiny-slider (https://github.com/viktorlarsson/vue-tiny-slider) as component.

Here is the script code in the page:

[code]

And this is the HTML

[code]

The slider works at development profile, but when i build the proyect it fails
throwing this error at the console:
[code]

Why? Is the implementing ok?

Thanks!

[2019-05-30 13:03] cizza commented on #474
Hi,

I've run into this issue as well. This will break in the build process because in node.js there's no window object, which this plugin exposes and most likely relies on. Please have a look at this page in the gridsome documentation https://gridsome.org/docs/assets-scripts/#without-ssr-support . What to pay attention to is the <ClientOnly> tag and the dynamic import of requested components (tin

[2019-05-30 17:47] khuumi commented on #445
This would be useful for other data types as well. For example if I have a JSON or YAML document auto-generated with markdown fields it would be nice if there was a way to specify somewhere in the code to get these ready to use with v-html.

[2019-05-31 08:53] hjvedvik commented on #465
I'm able to reproduce the error if I insert a non-breaking space. And I hade to clear `localStorage` to make it work again. It's a bug with the `graphql-playground` package we use.

[2019-05-31 08:56] hjvedvik commented on #469
`page-query` only works in components for pages or templates. You can use `static-query` in the layout component and access the results at `this.$static` :)

[2019-05-31 09:18] hjvedvik commented on #466
You can try to use the `load` event. But you'd need to check if `event.target.src` is a URL because the inline SVG image will also trigger the `load` event.

[code]

[code]

[2019-05-31 11:15] inalbisdev commented on #474
Hello,

Thanks for the answer. I' have change my code to:

[code]

And the HTML is:

[code]

And now i get this error:

[code]

[2019-05-31 11:21] hjvedvik commented on #474
The `vue-tiny-slider` export is a bit different. Try with this code instead:

[code]

[code]

[2019-05-31 11:27] inalbisdev commented on #474
Perfect, now works in dev and i can build the project. Thanks!

[2019-05-31 11:55] #474 closed

[2019-05-31 13:07] robaxelsen commented on #465
Closing, as per @hjvedvik findings that this is not an issue with gridsome itself.

@martifenosa Would you be ok reporting this issue to [graphql-playground](https://github.com/prisma/graphql-playground) directly?

[2019-05-31 13:07] #465 closed

[2019-05-31 13:08] #469 closed

[2019-05-31 13:10] hjvedvik commented on #471
Gridsome can only generate the schema based on the data you have. We are working on APIs for letting you defined the schema yourself to make sure the `cover_image` always exists. It will be available in v0.7 :)

[2019-05-31 18:00] jamesgeorge007 opened #476 "Suggest matching commands if the user makes a typo"
## Summary

Suggest matching commands if the user mistypes.

### Basic example

`gridsome serv` results in the following prompt:-
[code]

### Motivation

Why are we doing this? What use cases does it support? What is the expected outcome?
As per what I think it is a worth feature to be included in the next release.

[2019-05-31 18:01] jamesgeorge007 commented on #476
@hjvedvik Shall I go ahead and shoot up a PR :thinking:

[2019-06-01 03:41] rsclarke commented on #97
FWIW I was interested in mutating the HAST tree instead of inserting a HTML node in MDAST and subsequently wrote [rehype-shiki](https://github.com/rsclarke/rehype-shiki) based of @EldoranDev's plugin and [rehype-highlight](https://github.com/rehypejs/rehype-highlight).

Out of the box transformer-remark uses `remark-html` but we can change this with the `stringifier` option to allow mutation on th

[2019-06-01 08:00] sebastianwestberg opened #477 "Reference field: "fields" property null"
## Description

Reference type: fields property is null.

### Steps to reproduce

1. Create a reference type in the content model:
<img width="746" alt="Screenshot 2019-06-01 at 09 50 14" src="https://user-images.githubusercontent.com/4223277/58745609-3225c980-8453-11e9-8f11-be2b76ef2fb6.png">

2. For validation I entered "Accept only specified entry type: Tags".

3. I then referenced some tags in

[2019-06-01 17:24] calebanthony opened #478 "How to change default VueRouter settings"
I know in `main.js` you can utilize the Client API to add router methods, but how would I set a router setting?

In my specific use case, I want to globally set the [active class](https://router.vuejs.org/api/#linkactiveclass) rather than having to set it on each `<g-link>` in my code.

I tried:
[code]
but that doesn't work.

[2019-06-01 23:08] perpetualgrimace commented on #395
Slightly different recommendation here. Images without alt text should get an empty alt tag. Not all images need alt text, but if no alt tag is provided then assistive tech will read out the image src URL instead. 😬

More on this: https://davidwalsh.name/accessibility-tip-empty-alt-attributes

[2019-06-02 14:07] Kitefr opened #479 "No Hot Reload using a Docker container"
## Description

When working in Gridsome in a Docker container, hot reload doesn't seem to work.

### Steps to reproduce

Install a new gridsome install in a docker image with some tips to make everything works wonders like `host: 0.0.0.0` and the `.env` file for GraphQL endpoint.

Used #58 and #134 for making it work in docker.

### Expected result

When modifying code in `src` folder, the develo

[2019-06-02 18:27] robaxelsen commented on #476
Sounds good to me, and I'd love it if you submitted a PR. @hjvedvik: feel free to interject/comment.

[2019-06-02 18:36] robaxelsen commented on #479
Have a [look at this issue](https://github.com/gridsome/gridsome/issues/58), @Kitefr. Should solve your issue... excerpt:

Closing, as this is duplicate of aforementioned close issue.

[2019-06-02 21:53] dcastil commented on #438
I had a similar issue with an own implementation of lazy-loaded responsive images about half a year ago. But in my case the image was loaded twice only in Safari for some reason. I still hope that the description of my problem and solution can help here.

In my case I left the `src` and `srcset` attributes empty at first. When intersecting the image, the state in my Vue image component changed so

[2019-06-02 22:13] dcastil commented on #467
Actually the hash is different for the larger images: `cbab2cf.1506d1a`.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-02 23:05] sanscheese commented on #80
Hey @jakedohm and @hjvedvik I've done the initial setup for this plugin from the gist.
https://github.com/sanscheese/gridsome/tree/feat/plugin-source-graphql/packages/source-graphql

Let me know if would like to work from this, or Jake you've done the heavy lifting on this, so can setup a fresh branch.

[2019-06-03 06:11] ocboogie opened #480 "No polyfill for `Promise`"
## Description

I was porting a Vue cli 3 app to gridsome, everything was going good, then I tested it on IE 11. That's when I got the classic `'Promise' is undefined`, so I thought something went wrong when porting. Later I tested it on a brand new gridsome site using `gridsome create`, and got the same error.

### Steps to reproduce

Here is the project I'm porting
https://github.com/ocboogie/ro

[2019-06-03 08:03] Kitefr commented on #479
Like i said, i already done what was said in this topics but the hot reloading is still not working.

[2019-06-03 09:01] rsclarke commented on #370
@eneim Did you find a solution for your last quick question? I'm faced with a similar problem.  Though I'm not sure how merging would work either and support paging.

[2019-06-03 11:43] ocboogie commented on #480
I've even tried adding something like `console.log(Promise)` to `main.js` to make sure that babel knows that I'm using `Promise`s. But this shouldn't even matter sense `@vue/babel-preset-app` has `Promise`s as a default polyfill.
https://github.com/vuejs/vue-cli/blob/next-major/packages/%40vue/babel-preset-app/index.js#L8

[2019-06-03 22:30] dominiquedutra commented on #438
I am trying to debug this.

On chrome, it downloads the same image twice:

![image](https://user-images.githubusercontent.com/4117138/58838394-f5192d00-8634-11e9-9b69-511bdf793a43.png)

On firefox, it downloads the correct image and full size image.

![image](https://user-images.githubusercontent.com/4117138/58838455-14b05580-8635-11e9-9b67-a8b8b1842466.png)

The initiators for both images are on

[2019-06-04 01:44] zacnomore commented on #276
@hjvedvik Could I take a crack at this one?

[2019-06-04 02:47] rsclarke commented on #370
After thinking about this a bit more, a solution I'm currently using is to have an additional `ContentType` that is common between those to display on an index page. I was already doing something similar for hashtags but it didn't cross my mind to use this to query both types together. :roll_eyes: :man_shrugging:

To take the above example, the `gridsome.config.js` may look like:

[code]

Where we

[2019-06-04 02:55] FilledStacks commented on #312
I experiences the same problem with vue-kofi. I tried to wrap it as a plugin but then the error just shows up in the plugin file. For build only. Any insights or things to try would be much appreciated.

[2019-06-04 07:10] #182 closed

[2019-06-04 07:23] u12206050 commented on #220
I am also having a similar problems with dates: `Cannot read property 'toISOString' of null`

Dates are optional on the field so it is either null or a date.

[2019-06-04 07:32] tomtev opened #484 "Gridsome Themes"
This issue exists to discuss how Themes should work in Gridsome.

- How should themes work in a modern framework like Gridsome.
- Are Vue Component libraries with pre-defined layouts better than themes for Gridsome?

Please share your ideas :)

[2019-06-04 11:57] atilacamurca commented on #484
Pre-defined layouts, such as [bootstrap-vue](https://bootstrap-vue.js.org) and [vuetify](https://vuetifyjs.com/), are easy to get started and have great documentations. The problem with custom themes is the poor documentation. For instance, I tried to start with the [starter blog theme](https://github.com/gridsome/gridsome-starter-blog/) but as soon as I try to create a new page I was stuck.

Stil

[2019-06-04 18:36] dominiquedutra opened #485 "[Question] Critical Path CSS Plugin"
Hey,

Are we supposed to pass a single page (ie: root url) to the plugin?

I am testing on a blog with 250 pages and tried passing a wildcard `/*` as path. The result was a bunch of errors related probably to lack of memory and too many concurrent jobs.

[code]

[code]

[2019-06-05 08:37] awulkan commented on #276
@zacnomore You're more than welcome to try and fix it in my opinion at least. :)

[2019-06-05 18:30] nolfranklin commented on #188
Thanks @yann-yinn and @hjvedvik.

Having some issues with the source-filesystem refs feature. Have an almost identical config as @yann-yinn's above with the latest source-filesystem and transformer. Everything is working as intended with the exception that the ids are being randomly generated, ex: **id: "running"** gets converted to **id: 7f6c29c5d84eadfee38ea95bac846221**.

[code]

[code]

[code]

[2019-06-05 19:15] robaxelsen commented on #479
Sorry, my bad for not noticing that. Re-opening and pinging @hjvedvik.

[2019-06-05 19:21] robaxelsen commented on #438
@dominiquedutra great work! could you please make a PR out of this, so @hjvedvik can have a look?

[2019-06-06 01:19] zacnomore commented on #276
@awulkan I've started poking around a bit to understand how the system works. I was hopeful that you might be able to do `head.link.unshift` but that's not really how it works. Hopefully I can get back to you with a workaround or an unofficial fix.

[2019-06-06 11:18] lasseklein commented on #434
I'm having the same issue in v0.6.3.

Referencing context veriables in the query works fine for develop, but I get the error "fun is not a function" in build.

Passing the context  in gridsome.server.js:
`
 context: {
            chapter: node.chapter
          }
`

The query on the template page:
`<page-query>
  query Requrements ($chapter: String) {
    allRequrements ( filter: { kapittel:{eq: $

[2019-06-06 11:26] awulkan commented on #276
@zacnomore yes that would have been a nice workaround. I guess the problem is that they are processed in the wrong order when building, but I'm not sure.

[2019-06-06 14:32] dominiquedutra commented on #438
@robaxelsen Done.

[2019-06-06 16:59] Kitefr commented on #479
No worry. Thanks for the futur help.
Maybe i need to enable polling in webpack ?

[2019-06-06 17:50] zacnomore commented on #276
It's not the same thing but you can include your styles in your root component or even @import it from there.

[2019-06-06 18:00] FistMeNaruto opened #487 "Querying data using query result as an argument"
Hi!

I'm trying to build a blog using Foresty as my CMS. Currently I have two folders - `Posts` and `Authors` which contain the data in .md files and I'm using `source-filesystem` to get the data into GraphQL.

Posts content:
[code]

Authors content:
[code]

Is there a way to construct the query to get the author data according to the path specified in post author field?

Ideally I'd like my post

[2019-06-06 18:12] robaxelsen commented on #276
@zacnomore fine by me, would love to see a PR or some further investigation on this.

@hjvedvik feel free to chime in.

[2019-06-06 19:05] 0aveRyan commented on #446
@Ezra-Siton-UIX I'm well aware App is used to create an instance. Vue allows for override of this ID to be a custom string.

<img width="152" alt="Vue allows defining element it instantiates on" src="https://user-images.githubusercontent.com/9565066/59059002-afd24680-8852-11e9-8223-1ac2f748c24f.png">

If I were designing something entirely custom, I'd use the class or custom attribute.

I was port

[2019-06-06 21:30] #476 closed

[2019-06-06 22:15] hjvedvik commented on #487
It's currently only possible to reference with an ID, unfortunately.. But we are working on a way to do this for v0.7 :)

[2019-06-06 22:40] timcreatewell opened #488 "Subsequent Gridsome builds causing 404's with JS assets"
## Description

I'm running into an issue with a Gridsome site in production, which is being hosted on Netlify, however I would imagine this issue would affect most hosting providers.

Specifically, each time Gridsome builds, new JS assets are generated with new cache-invalidation suffixes.  This unfortunately causes issues for users who are already browsing previous versions of the site.  When th

[2019-06-07 04:36] rich-choy commented on #479
@Kitefr I had the same problem. Here is the way I worked around it:

`gridsome.config.js`
[code]

In my configuration, the `VIRTUAL_HOSTNAME` environment variable is the hostname by which I am accessing the development website on my browser.

I also created a port binding between the Docker container and the host:
[code]

[2019-06-07 07:28] FistMeNaruto commented on #487
Roger, waiting for updates :)

[2019-06-07 07:28] #487 closed

[2019-06-07 08:18] hwmaier commented on #444
@hjvedvik Rather than forcing trailing slashes onto all users, could that be made an option? That way users who operate a web server which can be configured to allow no slashes (for example Apache 2.4 using DirectorySlash/AllowNoSlash) can build sites with no-slash URLs.

[2019-06-07 08:37] cizza commented on #480
In my case I did install the es6-promise polyfill manually and imported it in the main.js file. I would recommend to try that if you need a quick solution.

[2019-06-07 10:11] aronhoyer commented on #60
Dropping in with a related question.

Is it possible to bind the `src` attribute from within, say, a loop?

[2019-06-07 11:53] dominiquedutra commented on #488
Browser: Firefox Developer Latest with the console open and preserve log ticked
**Deploy to Zeit Now**
Browsed about 10 pages of the website (not counting the infinite scroll background fetching of json files for next pages)
Rebuild and redeployed over the same project

Browsing pages already visited works
Other pages don`t work - I am getting JSON.parse errors instead of 404s - and the page won't

[2019-06-07 12:35] #438 closed

[2019-06-07 12:49] #80 closed

[2019-06-07 14:07] mbeayou opened #489 "how to disable the lazy loading form images in md files ?"
I'm looking for a way to cancel the lazy loading feature from the images,
something to convert this

`![](/./image..jpg)
`
in md files into this

`<g-image src="./image.png" immediate='true'  />
`

can anyone help?

[2019-06-07 14:12] rich-choy commented on #24
I was able to get wrap my `router-view` with a `transition` by following @altitudems workaround.
[code]

[2019-06-07 15:07] rich-choy commented on #24
Thanks to @altitudems I was able to get both enter and leave transitions working.

`src/main.js`:
[code]

`components/App.vue`
[code]

`layouts/Default.vue`
[code]

`src/pages/Index.vue`
[code]

[2019-06-07 15:28] vorti2 commented on #408
Hi @hjvedvik any progress on methods which will allow me to define the schema in a simple way if I want to have one casing in front-matter but another casing in the schema?

[2019-06-07 15:45] u12206050 commented on #117
Same here, but workaround mentioned by @cyberbobs does work however would be nice that it works out of the box.

[2019-06-07 16:07] dominiquedutra commented on #489
@mbeayou it seems that currently, this is not possible.

Images in Markdown are transformed on gridsome/transformer-remark/lib/plugins/image.js.
An image in MD files is limited. You can only specify the path and the alt/title. The main problem I see is you can not specify custom properties for images on markdown language.

If you could do this (totally hipotetic):

[code]

We could modify image.js

[2019-06-07 16:15] dominiquedutra commented on #463
@derevandal could you please elaborate what you are trying to accomplish?

[2019-06-07 18:37] derevandal commented on #463
@dominiquedutra I wanna generate static a way to my api consume my content without parse html.

[2019-06-08 00:24] robmellett opened #490 "Mapping GraphQL Plugin to Types/Routing (Shopify)"
hey there,

Thanks for your awesome work shipping the Graph QL plugin!  From the docs, I can't quite seem to get my `typeName` mapping though to a template and routing properly.

[code]

Should my template be called `ShopifyProduct.vue`? How do I debug the routing?
Here's what I have so far.
[code]

[code]

When debugging via the GraphQL with the following, I can see data is coming through
[code]

[2019-06-08 00:49] hwmaier commented on #121
Please don't abolish the pretty URLs and consider the option to have non-trailing slash URLs as well. Refer to https://github.com/gridsome/gridsome/issues/444#issuecomment-499799636. I understand those won't work out of the box and require some .htaccess magic compared to trailing slash URLs, but worth the effort. So users can choose conventional `/about/`   or pretty `/about` URLs . This is parti

[2019-06-08 01:38] robmellett commented on #490
I got it working in the end.  I'll post my solution shortly,  I'm still a little confused why need to use the create pages API.  I suppose I was expecting  loading when hitting the route.

[2019-06-08 01:49] robmellett commented on #490
Here's a sample project that pulls products.
https://github.com/robmellett/gridsome-shopify

Create a `.env` file with the following variables
Make sure you have a private app that has the Store Front API token enabled.

[code]

[2019-06-08 01:49] #490 closed

[2019-06-08 02:30] cyrilf opened #491 "Context variable not passed to page-query"
## Description

I can't access a `primaryTag` variable in my `page-query`.
What I want to achieve is on a blog Post page:

- **display the related posts (based on the first tag)**

### Steps to reproduce

In my `gridsome.server.js`

[code]

then in my `Post.vue`

[code]

also, I'm using this in `gridsome.config.js`:

[code]

I guess it's maybe this one that conflict by creating the pages too?

###

[2019-06-08 04:04] mittalyashu commented on #484
## Questions

* What does this feature request or issue cover?
* What does the theme means? Does it include the design part (color & font) or layouts and website structure too?

I think theming is about using the same naming conventions for different designs, so that while changing from one theme to another theme shouldn't be any problem.

[2019-06-08 04:18] mittalyashu commented on #489
That hypothetical situation still looks weird 😅, something like this is much better.

[code]

This way we could also add a custom class name to each image.

[code]

[2019-06-08 07:05] ocboogie commented on #480
Yeah, that's what I've done, but using [promise-polyfill](https://www.npmjs.com/package/promise-polyfill). Not sure which is better though.

[2019-06-08 09:24] hjvedvik commented on #480
Does it work better in v0.6.4?

[2019-06-08 09:28] hjvedvik commented on #491
Can you try to change the name of the template file to something orther than Post.vue? Gridsome generates routes for it if the name matches a content type, but it will miss the primaryTag variable..

[2019-06-08 10:04] subdiff opened #492 "Pages for refs not created when sharing path with nodes"
## Description

When setting up a blog creation of tag pages fails when sharing part of the path with the blog posts.

### Steps to reproduce
Have this kind of source filesystem description for creating blog posts with tags:
[code]
### Expected result

Blog tag page can be visited at: `www.example.com/blog/tags/my-tag`

### Actual result
With `gridsome develop` tag pages can't be visited. `gridsom

[2019-06-08 10:21] ocboogie commented on #480
Works great, thanks. But I am getting `Object doesn't support property or method 'closest'` from [here](https://github.com/gridsome/gridsome/blob/f79f89aea9727aaf34288b727ce395d5703ad067/gridsome/app/entry.client.js#L18). I got this before the update too. My app has no route change, so I think it should still work fine. I can submit another issue for that if you want.

[2019-06-08 10:25] vorti2 commented on #408
Hi @hjvedvik, I see your comment on https://github.com/gridsome/gridsome/issues/471#issuecomment-497703058, IMHO this could solve my problem, too.

[2019-06-08 11:26] #480 closed

[2019-06-08 11:44] cyrilf commented on #491
Awesome @hjvedvik. That did solve my issue!
Thanks for the quick answer :tada:

Do you know if it's a best approach to retrieve the related posts or do you see another way of doing so?

[2019-06-08 11:44] #491 closed

[2019-06-08 12:21] hjvedvik commented on #492
Try having `/blog/:year(\\d+)/:slug` as route for the `BlogPost` type. It should make it match only if `year` is a number :)

[2019-06-08 12:31] Kitefr commented on #479
Thanks for you help @rich-choy, I'll try when I'll get some time.

[2019-06-08 14:10] perpetualgrimace commented on #445
Yes! More broadly, since we can use GraphQL to return front matter, YAML, JSON, etc., as data, I was really surprised that there isn't something like a `MarkdownParse()` helper to use in Vue components.

I know this isn't apples to apples — and Gridsome isn't a CMS — but check out how [Kirby CMS](https://getkirby.com/docs/reference/templates/helpers/kirbytext) allows any field to be easily convert

[2019-06-08 15:59] perpetualgrimace commented on #445
Oh wait, is this what the `v-html` prop does 😅

[2019-06-08 16:55] chug2k commented on #60
Any plans on this would be great. `g-image` is super cool, would like to use it everywhere, esp. with our CMS (Contentful).

[2019-06-08 17:40] dominiquedutra opened #494 "Should images be processed on every build?"
Marked as a question but its more of a discussion for now.

Do you think images should really be processed on every build?
What about the default behavior be to skip images that have been processed already and just process any new ones?
And with a simple flag on build, we could instruct Gridsome to reprocess everything.

When you have a lot of images being processed by g-image it can take a long t

[2019-06-09 01:09] mittalyashu commented on #494
The concept to process new files is very interesting, but I don't think that could be possible, Why?

The slightest chance in the codebase _(HTML, CSS, JS)_, could change the output to a large extent and configuring the Gridsome build to process only modified files can be cumbersome.

Every time you initialize the Gridsome server locally, it is not aware of any previous build or anything, it just

[2019-06-09 10:40] mvdschee commented on #479
I believe the problem has to do with your docker using `0.0.0.0` as it's host address to set up a web socket to your browser, while you are in using `localhost` as the hostname. This miss-match in hostname makes it impossible for web socket to correctly connection.

The example given by @rich-choy uses a proxy which should work, but you could also try to change the `public` to match the one you us

[2019-06-09 12:03] mvdschee commented on #383
I recently changed my Webpack config to support `webp` as well, it makes a huge difference. Would be very beneficial for Gridsome ❤️

**used dependency:**
[webp-loader](https://github.com/kavu/webp-loader)

**Webpack config**

[code]

**Html**
[code]

[2019-06-09 14:36] eleijonmarck commented on #238
@DavidCouronne have you managed to use katex in your blogs? Found your issue through obessive searching. I have setup a blog using [blog-starter](https://gridsome.org/starters/gridsome-blog-starter)

[2019-06-09 14:45] dominiquedutra commented on #494
Thanks for the input @mittalyashu
My question regards specifically the images on the build process.

For a larger setup, I would use some sort of image proxy (ie: thumbor) that can even be run as serverless (https://github.com/awslabs/serverless-image-handler), but for smaller setups (websites with about 1000 posts, 2 images each) I do think that with some modifications the image processing could

[2019-06-09 17:41] perpetualgrimace opened #495 "Question: non-<g-image>, image path from props, relative to markdown file?"
I've been working on rebuilding my portfolio site and I've hit a bit of a snag regarding images. Here's what I'm trying to do:

I have a list of projects, each with a project image.

For each project, I'm grabbing front matter from the corresponding markdown file, and passing it down to a `<Project>` component as multiple props.

The `<Project>` component uses props like `title`, `color`, `layout`

[2019-06-09 18:11] perpetualgrimace commented on #495
Okay I just tried dumping all the images into the static folder. It works, and satisfies the other two conditions. Path of least resistance ftw 😅

[2019-06-09 18:11] #495 closed

[2019-06-10 07:54] josepjaume commented on #488
I believe a good way to tackle this is to capture the exception and resort to a regular `window.location = url` - that'd refresh the entire app.

[2019-06-10 11:38] dominiquedutra commented on #489
Well, I am not that much familiarized with Markdown / Remark.
I was taking a look at the docs and couldn't see a way to have `immediate=true` reach the image-processor.js.

[2019-06-10 13:00] SteveEdson opened #498 "How to inject metadata, after pages API?"
## Summary

I feel like all the pieces I need exist, I'm just not sure how to piece them together. What I want to do is after all my pages have been created within GraphQL (I'm using the filesystem plugin, but that shouldn't matter).

I then want to create a search index, and add the generated JSON to my metadata, for use on a search page later on. This means the index can be generated at build ti

[2019-06-10 13:53] SteveEdson commented on #489
Would this need to be done per image? Or could it just me a setting defined once in the gridsome/plugin config?

[2019-06-10 17:52] jamelt commented on #484
I think theme support is a red herring. I think it's an idea for which there isn't a real use case where you're going to need this.

Having used Hexo for a while now, I've found that _themes_ were a total waste of time and a huge annoyance. Especially, since it needlessly forced to me rearrange my folder structure to accommodate this bogus thing called a theme.

- What is the likelihood that someo

[2019-06-10 19:23] dominiquedutra commented on #459
Been thinking about this.

I guess we could have g-image take a remoteSrc property and have the image processing pipeline download it. The source plugins would be responsible for determining which images need to be downloaded and processed locally, and not responsible for processing it.

[2019-06-10 20:33] hjvedvik commented on #488
Yes, I've done some testing and a simple fix would be to use `location.assign(to.fullPath)` in `router.beforeEach` whenever a route component fails to load or a JSON file for a page doesn't exist. We'll try to include a fix next time we publish an update :)

[2019-06-10 22:16] Manuel-Suarez-Abascal commented on #335
@akb20 I also tried to add vue-scroll-reveal and it doesn't work production. It seems the issue is related to this [issue](https://github.com/gridsome/gridsome/issues/180). PLease let me know if you make to work and I will keep trying on my side and I will update you if I make it work!

[2019-06-10 23:04] Manuel-Suarez-Abascal commented on #180
@physcocode could you help me integrate [vue-scroll-reveal](https://www.npmjs.com/package/vue-scroll-reveal) on my [my website here](https://manuel-suarez-abascal.github.io/manuel-abascal-website/)? It doesn't work when making the build. This is the [github repo](https://github.com/Manuel-Suarez-Abascal/manuel-abascal-website).

Any help will be really appreciated!

[2019-06-11 07:37] OfekA commented on #23
This is the only requirement for us in order to migrate from Nuxt, which we would love to do, any updates on progress?

[2019-06-11 18:35] eleijonmarck opened #499 "How to render latex in markdown?"
## Description

I would like to render latex from the markdowns that gets pulled into gridsome

### Steps to reproduce

I have been looking for plugins / components to use to be able to use latex expressions in blog posts.

this markdown
[code]

### Expected result

The latex should be rendered as html
![image](https://user-images.githubusercontent.com/7727602/59297320-5457ec80-8c88-11e9-8228-2c82

[2019-06-11 18:57] technoSpino commented on #142
I think this can be closed

[2019-06-11 19:05] gottlike commented on #142
You're right - thanks :)

[2019-06-11 19:05] #142 closed

[2019-06-11 19:15] technoSpino commented on #310
So what is a good first step on this feature. A leave hook as stated by @martifenosa or a transition component for App.vue

[2019-06-11 20:59] martifenosa commented on #310
Well, I'm not an expert or anything but, seems easier to activate somehow the 'enter' hook given that the 'leave' hook is already working properly. Are you planning on taking this issue? Would help me a lot with an ongoing work :P

[2019-06-12 01:00] perpetualgrimace opened #500 "email links in markdown aren't parsed"
## Description

In my markdown file, if I add an email address via the standard syntax `<email@address.com>`, the app white screens. If I remove the angle brackets, the page renders again.

The console prints out an error that sounds like it's looking for a content file, rather than generating a mailto link:

[code]

### Environment

[code]

[2019-06-12 07:00] subdiff commented on #492
Thanks, I assume the proposed solution in #493 is therefore not correct?

I have to say though that checking on the type seems like a workaround. There might be situations where one has just same types and still want to routes nodes on the same sub-path as a static address of a "ref".

[2019-06-12 10:42] dominiquedutra commented on #494
I`ll take some time to work on a plugin for this.

[2019-06-12 13:16] DavidCouronne commented on #238
@eleijonmarck i found a way to manage katex:

Step 1:
[code]

Step 2: configuration

[code]

Step 3: Add CSS

In your template, `BlogPost.vue`for example:

[code]

Step 4: Write LaTeX :)

Inline Math:
[code]
Display Math:
[code]

[2019-06-12 13:16] #238 closed

[2019-06-12 16:48] martifenosa opened #502 "WordPress Wysiwyg links"
## Summary
When a wordpress wysiwyg content is fetched it can contain links to internal pages. If the wordpress installation and the static site don't share domain the links become incorrect. They lead to the wordpress pages which with vue and gridsome are most probably useless.

We need some sort of plugin that rewrites incorrect urls and replaces them with the correct ones.

### Motivation
Grids

[2019-06-13 11:14] dominiquedutra commented on #502
Hey @martifenosa

So, gridsome source-wordpress does not touch $post.content. It just renders it inside a v-html.
You could transform the post content and replace the backend URL with the production site URL. I could make a PR if @hjvedvik agrees.

Imagine:
`source-wordpress settings baseUrl = https://backend.my-site.com`
`gridsome config siteUrl = https://my-site.com`

Then we could have a settin

[2019-06-13 21:58] mbeayou commented on #489
No problem if there is a way to do this for all images from /plugin config ?

[2019-06-14 13:28] mjatharvest commented on #480
For those with the same 'closest' bug here was how I resolved the issue.

[code]

[2019-06-14 13:31] hjvedvik commented on #480
@mjatharvest Does it work okay in IE11 with those polyfills? I'm going to add them to Gridsome in the next update.

[2019-06-14 13:35] mjatharvest commented on #480
@hjvedvik Yes, I resolved IE 11 errors by adding the closest polyfill mentioned above, and I also had to manually add the following packages: isomorphic-fetch, es6-promise

`yarn add isomorphic-fetch es6-promise`

[code]

There may have been a much better way to do this using chainWebpack in gridsome config, babel, or browsersList but those other ways are beyond my skill :)

[2019-06-14 13:44] hjvedvik commented on #480
Great! I'm also switching to `XMLHttpRequest` instead of `fetch` in the production build. The `Promise` polyfill should be added by Babel in Gridsome v0.6.4 I hope :)

[2019-06-14 15:44] eleijonmarck commented on #238
@DavidCouronne I feel that I am missing something here.

My application becomes blank due to 'remark-math' plugin. :(

In the version I am using my configuration looks like the following:
[code]

Removing
[code]

Makes the application render but again not using latex rendering.

[2019-06-16 06:42] ShahrukhAhmed89 opened #506 "Prismjs plugin removes the code tag inside the pre tag."
## Summary

I was using the prism-js plugin, I found out that the three backticks aren't converted to `<pre><code></code></pre>` but rather only to `<pre></pre>`.

### Basic example
[code]
This bit of code in index.js pretty much solves the issue.

### Motivation
Firstly, `<code>` tag is important for HTML semantics .  Secondly, without the `<code>` tag, `<span>` elements become the direct childre

[2019-06-16 21:57] wjustice commented on #391
@robaxelsen  I am using the most up-to-date version or source-filesystem and still getting the same behavior; no custom fields are being recognized.

[2019-06-17 08:36] tvthatsme opened #507 "Missing license for @gridsome/cli package on npm"
## Description

The license of a package is important within some companies before being able to get approval for use.

### Steps to reproduce

Go to the [package listing on npm](https://www.npmjs.com/package/@gridsome/cli)

Observe that the license field shows "none"

### Expected result

Because the GitHub repo has a MIT license file, I'd expect that the NPM listing would be the same.

[2019-06-17 12:51] zacnomore commented on #276
Hello again! This has been quite the rabbit hole. It appears that the workaround by @awulkan doesn't work because the head in the template is generated at build time and the component styles are injected into the top of the head during runtime. I wonder how effectively this can be mitigated, I'm not yet sure if the position they're injected to is configurable.

Some of the effective ways to includ

[2019-06-17 18:22] awulkan commented on #276
It's a key element of css though, to be able to load things in cascading order.
You don't want a css framework overriding your local component styles. You'll end up fighting it at every corner. :/

[2019-06-17 20:02] zacnomore commented on #276
@awulkan I'm not sure what we can do. If we made a way to specify the sequence, hot module replacement would still reorder the styles as you work. I don't think we can rely on the order here.

[2019-06-17 20:22] awulkan commented on #276
And the styles from components can't always just be loaded after the css files?

[2019-06-17 20:49] hjvedvik commented on #276
Looks like an issue caused by a combination of `vue-style-loader` and `vue-meta` in development mode. Styles from `vue-style-loader` should always be inserted after styles from `vue-meta`. They have the correct order in production mode so I'll try to do some more debugging later this week :)

[2019-06-18 03:01] ryancookio opened #508 "Ability to bind gridsome develop to a specific host"
Gatsby allows you to bind development server to any IP with the -H option. For example:

`gatsby develop -H 0.0.0.0`

Could a similar option be created for Gridsome?

This is useful for testing your development site on a physical mobile device. Additionally, it would also allow Gridsome to take advantage of instant previews on Forestry.io.

[2019-06-18 12:35] dominiquedutra commented on #508
Hey
What I do when I need to preview the built website (using mobile, iPad, another windows computer) on the local network is using http-server, which can simply be installed  and then used like so:

`gridsome build && http-server ./dist`

Binding to external IP if you need that would be done on your local network device/router.
As for forestry.io previews I am unaware of how it works, but it shou

[2019-06-18 23:49] kara-todd commented on #472
I wasn't able to get the webpack devServer proxy to work, but I'm not 100% sure how the gridsome internals worked. Since it looks like [express is used internally](https://gridsome.org/docs/server-api#apiconfigureserverfn), I used a similar approach to creating a [proxy in gatsby](https://www.gatsbyjs.org/docs/api-proxy/#advanced-proxying). This seemed to resolve the issue for me...

### Steps:
1.

[2019-06-19 03:04] JosephBlythe commented on #361
@boldstar Hey I have a similar issue with that error also using netlify forms, could you explain what was causing the error?

[2019-06-19 16:51] nuriaheep opened #510 "Gridsome package plugin-facebook-pixel"
## Summary

It would be very nice a plugin to add the facebook pixel in the sites.

I have a client that asks to include the facebook pixel code, but in the packages of gridsome it doesn't exist yet, I tried to make the plugin but I don't know enough to create one. I tried to refactor the google-analytics one but I coudn't advance much

[2019-06-19 18:58] hjvedvik commented on #290
@gilesbutler The example in the docs points to `m.Carousel` and `m.Slide` because the default export from `vue-carousel` is an installer object which should be passed to `Vue.use()`. But usually, `m.default` is the actual component.

[2019-06-19 18:58] #290 closed

[2019-06-19 19:03] hjvedvik commented on #121
@hwmaier We will add a config option to keep the current behavior :)

[2019-06-19 20:07] dominiquedutra commented on #510
@nuriaheep

Just use Google Tag Manager + Gridsome Google Tag Manager plugin to deploy anything you like, facebook pixel included. You can do so much with GTM.

Hope it helps.

[2019-06-19 21:07] miguelslp commented on #335
Also having @danieldocki problem, this time on vue-js-toggle-button

[2019-06-20 01:19] gilesbutler commented on #290
Nice one, thanks for clarifying @hjvedvik 👍

[2019-06-20 11:55] milosodalovic commented on #459
@dominiquedutra - I'm trying to solve the same problem. The commit on your fork doesn't exist, or it's not publicly accessible... Did you have any progress after your last post?

[2019-06-20 12:36] eddybrando opened #511 "Empty meta `description` needs to be overwritten with `key` to avoid duplicate"
## Description

When defining a **meta description** one must always overwrite the default **meta description** generated in `head.js`, even if `config.siteDescription` is empty.

Not explicitly setting `key: 'description'` results in an unnecessary duplicate of the **meta description** tag and the content not being taken into account for SEO, since the first empty **meta description** tag gets pr

[2019-06-20 13:19] hjvedvik commented on #459
@dominiquedutra Downloading and processing is indeed on our roadmap and would be great if you want to look into it :) I have been thinking about how it could be solved, but haven't done any testing yet. One approach would be to just let the source plugins download all its images when you start the project. But that will download lots of unnecessary images in development.

Another approach could be

[2019-06-20 16:01] hjvedvik commented on #492
The change in #493 works for you because each post and tag will get a static route instead. When they are dynamic, the `/blog/:year/:slug` route will also match for paths like `/blog/tags/1`. I don't think param types are a workaround but rather a way to help Vue Router match the correct route.

But we are going to let you decide if you want dynamic or static routes in `gridsome.config.js` sometim

[2019-06-20 16:17] gech2me opened #512 "Can't create a project on linux platform."
Here is the output:
[code]
❯ Clone https://github.com/gridsome/gridsome-starter-default.git 3.42s
❯ Update project package.json 0s
❯ Install dependencies
  • Building fresh packages (4 of 4)
Error: Failed to install dependencies with yarn. Please enter andremarang directory and install dependencies with yarn or npm manually. Then run gridsome develop to start local development.

    Exit code 1

[2019-06-20 21:15] cartoonmadrasah opened #513 "Can't seem to query - TypeError: undefined"
I have been scratching my head for the whole day. I can't seem to figure this out. I don't know what mistake I am doing. Any help or guidance would be appreciated. Thank you.

![Image 1](https://user-images.githubusercontent.com/7679807/59881975-6a715580-93ca-11e9-9ea9-9673cc3c20e0.png)

[2019-06-20 21:56] hjvedvik commented on #513
It might be something wrong with the JSON data. Since Axios or `JSON.parse()` isn't able to parse it. So the `data` variable in the screenshot is a string.

[2019-06-20 22:05] hjvedvik commented on #507
Thanks for noticing. We'll fix that :)

[2019-06-20 22:25] hjvedvik commented on #506
You're right. We'll fix that :)

[2019-06-20 22:49] hjvedvik commented on #502
@dominiquedutra That would be great. Finding and replacing URLs is quite easy to do in a computed property before passing it to `v-html`. But it might be a good idea to let the plugin do it instead. A `replaceUrls` option would be good, which defaults to `true` :)

[2019-06-20 23:00] hjvedvik commented on #478
You should be able to use `router.options.linkActiveClass = 'is-active'` in latest version to set a default active link class :)

[2019-06-20 23:12] hjvedvik commented on #463
@derevandal You can try to do something like this:

[code]

[2019-06-20 23:17] hjvedvik commented on #408
@vorti2 Almost done :) I working in this PR #509

[2019-06-21 08:54] u12206050 commented on #459
I would recommend a slightly different approach in that Gridsome only generates and stores the low quality svg placeholder for the image, and then loading the image from the source (be that an image cdn or file server, should not matter).

This way there is less time spent on downloading and processing images whilst still getting the benefit of the svg placeholders.

[2019-06-21 13:16] dominiquedutra commented on #510
@nuriaheep I`ll close this.
If you really think of a reason why not to use GTM and why this should be implemented, please ping me so I can reopen.

[2019-06-21 13:16] #510 closed

[2019-06-21 13:37] ShahrukhAhmed89 commented on #506
Thank you! :)

[2019-06-21 13:37] #506 closed

[2019-06-21 16:47] subdiff opened #514 "Markdown not transformed in rss feed plugins"
## Description

Using any of the available rss plugins [1][2] I am not able to include Markdown content such that it is converted to html. But the respective `node.content` entries on my BlogPost types are in html format when I query them in the playground.

Could it be that this is because the plugins use the hook `beforeBuild` and `afterBuild` when the build has already been finished / not yet s

[2019-06-22 02:17] isoppp opened #515 "Can't find page 1 when use paginate and production build"
## Description

Can't find page 1 when production build.

When using `paginate` in page-query, I can find page 1 on local server(`gridsome develop`) but I can't find it on production build.

I found it when I want to use original pager component.

### Steps to reproduce

- Use `paginate`.
- Confirm page 1 with 'gridsome develop' on browser.
- Confirm resources which was exported by production buil

[2019-06-22 03:32] tpalmer75 opened #516 "All "description" meta tags empty on rendered page"
## Description

The content attribute of description meta tags render as empty on my live site.

### Steps to reproduce

(Can be seen on my sandbox [here](https://uxtools-gridsome-2019.netlify.com/))

Add the following to your main.js file:

[code]

### Expected result

In both dev and production environments, the tags should render as:
[code]

### Actual result

Renders normally in dev, but in pr

[2019-06-22 03:33] tpalmer75 commented on #511
Just filed https://github.com/gridsome/gridsome/issues/516. Slightly different, but could be related.

[2019-06-22 09:16] tanc commented on #512
Which nodejs version do you have installed? Personally I recommend installing NVM and using the current LTS version, which is 10.16.0 at time of writing.

[2019-06-22 09:26] subdiff commented on #514
Live version: https://subdiff.org/blog/feed.xml
Website repo: https://gitlab.com/romangg/gridsome-org.subdiff

[2019-06-22 13:26] subdiff commented on #492
Hmm, yea makes sense. I'll close this issue and the pull request. Thank you for explanation!

[2019-06-22 13:26] #492 closed

[2019-06-22 21:07] i-bsd opened #517 "Google Search Console: Sitemap could not be read"
## Description

Google search console cannot read Gridsome sitemap.

### Steps to reproduce

[code]
### Expected result

Sitemap should be accepted by Google.

### Actual result

sitemap.xml exists and can be read but Google status is: "Sitemap could not be read"

### Environment

<pre><code>
- gridsome version: 0.6.3
- @gridsome/cli version: 0.1.0

- Platform:  Netlify

</code></pre>

[2019-06-23 10:15] milosodalovic commented on #459
Makes sense @hjvedvik  - thanks!

I've been already working on a source plugin that would download all images during development (although aware of the possible issues). I managed to successfully download images and store them locally in the `src/assets/images` directory.  The plan was to download one by one and as soon as the image is downloaded add it to GraphQL. Some pseudo code example:

[code

[2019-06-23 10:44] u12206050 commented on #459
@milosodalovic the mysql-source plugin for gridsome also has this feature implemented. The value of the field in GraphQL should be the full path to the image eg. `/Users/john/projects/wp/temp-images/cool.jpg`

Gridsome will pick that up as an image and do the rest for you.

[2019-06-23 10:46] u12206050 commented on #459
@milosodalovic You will find that you'll need to queue image downloads, otherwise you'll get some buffer issues.
You can reuse this helper code: [file.js](https://github.com/u12206050/gridsome-source-mysql/blob/master/file.js) which has some helper functions for downloading, generating full path etc. Look at the plugin to see the rest of the implementation.

[2019-06-23 14:05] milosodalovic commented on #459
Thanks @u12206050, I'm checking mysql-source plugin now.
I know that path should be full (absolute). I updated my comment above... Also aware that image downloads should be queued. However, I first tried to make a proof of concept by very simple version of the plugin working in just one specific case, before covering edge cases, polishing up and making it available for the rest of the community. U

[2019-06-24 13:14] hjvedvik commented on #516
Looks like overriding meta tags by `key` only works when overriding form a child component, like pages or templates. I'll fix this by not adding the default `description` tag if `siteDescription` is empty.

[2019-06-24 16:52] sebastianwestberg commented on #477
Is more info needed, or is this issue clear for you? Thanks!

[2019-06-24 22:25] fullpwemium commented on #499
Would be great to get this working

[2019-06-25 08:51] ndabAP commented on #405
Did you find a solution?

[2019-06-25 09:59] hjvedvik commented on #514
The plugins are getting the nodes directly from the store, while the HTML transformation actually happens in the GraphQL layer. We'll try to provide APIs for them to get the nodes through GraphQL instead in one of the next versions.

[2019-06-25 10:50] hjvedvik commented on #499
You can try with the `remark-math` and `remark-html-katex` plugins for Remark:

[code]

[code]

[2019-06-25 13:32] hjvedvik commented on #477
It's pretty clear :) We'll fix that. But it should work better if you access `slug` and `tag` directly on the node instead. The `fields` field has been deprecated for a while and will be removed in the next version.

[2019-06-25 14:25] cco3 opened #518 "Default curl command returning errors from graphql"
## Description

The default curl command provided by the explorer is not working for me.

### Steps to reproduce

1. Go to the explorer, make a query (like a query to list all pages).

[code]

2. Run it, see that everything works fine
3. Copy the curl command
4. Run it from the commandline

[code]

### Expected result

A 200 status and a non-erroring json response

### Actual result

Error returne

[2019-06-25 14:34] u12206050 commented on #518
Have you tried :
[code]

[2019-06-25 14:43] hjvedvik commented on #518
I'll fix this :)

Gridsome only has a [`this.$fetch('/page-path')`](https://gridsome.org/docs/client-api#fetchpath) method which will run the query for a specific page because fetching data from the GraphQL server wouldn't work in production. But you can use Axios or just `fetch` with a query string in the body to retrieve data from other GraphQL servers.

[2019-06-25 15:00] cco3 commented on #518
@u12206050 the query shouldn't be an issue, it works in the explorer.

@hjvedvik , right, just given the errors I'm encountering, it's not clear if special headers etc are needed with the fetch, so having a simple wrapper would be nice.  I'll check out axios.

[2019-06-25 15:08] mjatharvest commented on #405
No solution yet. The site builds and works ok so it's not a blocker. However I would love to get the bottom of the error at some point :)

[2019-06-25 16:25] eleijonmarck commented on #499
@hjvedvik

I tried running with configuration (as this is used from gridsome/gridsome-starter-blog):
[code]

But I still get the same error, however.
[code]

[2019-06-25 17:41] BenRoe opened #519 "[Question] Fetch json, store it GraphQL data layer and output like original json structure"
I am new to Gridsome and GraphQL.

I fetch data from a json file (array of objects) and store it in GraphQL data layer.
Problem is, if i use `{{ $page.allSwitches }}`. I get the following result.

[code]
... but i need it like the json
[code]

gridsome.server.js
[code]

[2019-06-25 18:51] fullpwemium commented on #499
I get a similar error when doing as @hjvedvik suggests:

I'm not using primjs, but instead Shiki for the syntax highlighting.

At the top of the markdown blog post is:

@eleijonmarck if I change the date to a string, i.e. date: "2019-06-23 07:42:34", I can open the page without the error but the math has not been rendered using KaTeX, I just see "$$ e^{i\pi} + 1 = 0 $$"

Any ideas?

[2019-06-25 20:47] dominiquedutra commented on #459
I've been away for a few days and this issue escalated quickly :)

@milosodalovic I am currently using a custom gridsome.server.js instead of the Wordpress Source Plugin.

https://gist.github.com/dominiquedutra/8d48018c62b8270f51630de1eacc2711

That should work with 0.6.4

Will read and answer everyone else later this week.

[2019-06-25 21:06] BenRoe commented on #519
As a quick fix i used the example from here. https://vuejs.org/v2/cookbook/using-axios-to-consume-apis.html#Base-Example

[code]

[2019-06-25 21:36] hjvedvik commented on #519
You can try to map the list in a computed property to get the structure you want:

[code]

[2019-06-25 21:54] gabrielkoerich opened #520 "Can't click links in production"
## Description

Hi there! I'm having problems with internal links. Everything works fine in dev, but running `gridsome build` some links doesn't open. The URL changes, but the page won't load.

I saw some stuff here in github about Vue hydration and wrong or incomplete tags but I can't get it to work.

I already tried to remove g-image component, tried using href and to, tried to validate it on w3

[2019-06-25 22:27] hjvedvik commented on #520
Do you have any HTML minification enabled on the host? It looks like some HTML comments have been removed from the markup. You can also try to build the site in [development mode](https://gridsome.org/docs/troubleshooting#debugging-hydration-errors) and see if you get any meaningful errors.

Nice site btw :)

[2019-06-25 23:20] nolfranklin opened #521 "TypeError: Cannot read property 'typeName' of undefined"
## Description

Seeing non-descriptive error (below) on `gridsome build` and `gridsome develop`.

[code]

### Expected result

Build is successful.

### Environment

package.json:
[code]

gridsome.config.js
[code]

For Tooling issues:
- Node version: v10.14.2
- Platform: Mac

### Notes:

- Ran npm install/update today and noticed @gridsome/source-contentful had been updated today but unsure if tha

[2019-06-26 02:30] nolfranklin commented on #521
Fixed. Related to featured content being unpublished/deleted in Contentful.

[2019-06-26 02:30] #521 closed

[2019-06-26 07:31] milosodalovic commented on #459
Thanks @dominiquedutra! I'm checking ...
I had started the same way, by extending Wordpress Source Plugin, and keeping my version in the `gridsome.server.js`. Then I decided to make an independent plugin, and change things a bit. I've got all major problems solved now and just need to polish things and make it more flexible to be able to cover more use cases.

Thanks everyone for the help!

[2019-06-26 11:02] #519 closed

[2019-06-26 11:33] hjvedvik commented on #499
Which version of the `@gridsome/transformer-remark` package do you have installed?

[2019-06-26 13:07] fullpwemium commented on #499
Hi!     "@gridsome/transformer-remark": "^0.2.0", is this the wrong?

[2019-06-26 13:11] hjvedvik commented on #499
@fullpwemium Use v0.3 instead.

[2019-06-26 13:26] fullpwemium commented on #499
[code]

Tried the 0.3.2 and I now have this error from the blog starter! I am new to Vue and Gridsome so this is a challenge

[2019-06-26 14:43] gabrielkoerich commented on #520
@hjvedvik All good now!

It was an issue with Cloudflare minification + a tbody missing in some tables. Thanks for pointing me in the right direction.

[2019-06-26 14:43] #520 closed

[2019-06-27 05:54] eleijonmarck commented on #499
@fullpwemium @hjvedvik hmm 🤔 I tried @gridsome/transformer-remark 0.3.2 and also got the same error:

[code]

[2019-06-27 07:45] herrbomm opened #522 "Build not working as dev is working."
## Description

When i try **gridsome build**, nothing is shown (blank page). In **gridsome dev** everything is working fine. Im not sure why but i guess it is due to path-configuration or something.

Also i get this error.

`Failed to render /service
/Users/fabbsen/Aufträge/site/Relaunch 2019/Website/gridsome-site (update)/node_modules/vue-flickity/src/flickity.vue:1
(function (exports, require,

[2019-06-27 08:36] u12206050 opened #523 "Error: Input buffer has corrupt header: glib"
## Description

Getting an error every **second** time that I run `gridsome develop`:

### Steps to reproduce

Not sure if anyone else has this issue but, include an svg file via the `g-image` component eg. `<g-image src="~/assets/images/loader.svg" alt="loading"></g-image>`

### Expected result

`dev` should startup every time without throwing error

### Actual result

`ERROR in ./src/assets/imag

[2019-06-27 08:38] shahinrostami commented on #499
Hello, I'm not affiliated with Gridsome so I can't give an answer with any certainty or authority, but I have a solution for you. As @hjvedvik already suggested, some packages in your project likely need updating. I think if you're on an old `@gridsome/transformer-remark ` you are likely on older versions of other packages too (including gridsome itself). Here is a set of packages which I've confi

[2019-06-27 08:43] u12206050 commented on #523
Issue was an unsupported character within the svg file itself.

[2019-06-27 08:43] #523 closed

[2019-06-27 14:03] martifenosa commented on #310
Any updates on this feature?

I know it looks like a non priority feature but not in our case. If something isn't working exactly as expected at the backend we can somehow hide it from the client. But if the transition between pages works bad there is no way we can cover that.

I don't want to sound rude, I'm loving this repo and all the possibilities that offers. Really appreciate the work you al

[2019-06-27 17:02] eleijonmarck commented on #499
@shahinrostami
Thank you! This seems to be working for rendering of the latex equations.

My final configuration together with the new depedancies specified by @shahinrostami looks as such

`gridsome.config.js`
[code]

However, now I cannot render the coverImage.

In order for me to render the equations I had to remove the coverImage from the page-query of the `Post.vue` and `Tag.vue`.

But maybe

[2019-06-28 06:28] eleijonmarck commented on #499
@fullpwemium I think now you have the same error as me

[2019-06-28 07:31] fullpwemium commented on #499
mine works now after following the instructions above, I deleted the node_modules folder and updated all my packages to latest!

[2019-06-28 12:15] sergeyfilimonov commented on #522
@herrbomm Looks as a Vue hydration error. Could you post your code from the flickity.vue file here?

[2019-06-28 12:17] sergeyfilimonov commented on #517
@i-bsd could you post the link to your sitemap here?

[2019-06-28 12:27] sergeyfilimonov opened #524 "GraphQL won't see an updated param in a template"
## Description

[code]

When I try to change `embed` param in the query to `hash` for instance and then change the same column in Airtable from `embed` to `hash` also and run `gridsome develop` I see:
`Cannot query field "embed" on type "Schedule".`

Some kind of cache? How do I flush it?

Even if I delete the template it doesn't see it deleted.

### Environment

<pre><code>
Libs:
- gridsome versi

[2019-06-28 12:29] #524 closed

[2019-06-28 16:44] eleijonmarck commented on #499
@fullpwemium does your images show as well?

[2019-06-28 18:28] u12206050 opened #525 "Cannot read property 'toISOString' of null"
## Description

When having date fields that could be set or be null graphql silently fails causing page-query result to be null.

### Steps to reproduce

Declare a content type eg. `Post` with at least two objects containing a field that would be a date, except in the one object set the value of the `date` field to null. Query for `allPost` with the `date` field. You'll see error from graphql.

#

[2019-06-28 18:43] martifenosa commented on #525
If I'm not mistaken this https://github.com/gridsome/gridsome/pull/509 will offer a solution.

[2019-06-28 21:36] eleijonmarck commented on #499
@fullpwemium @shahinrostami I still do not see how I would get it to work. I have a reproducable example here:

[code]

upgrade **`gridsome.config.js`** from:
[code]

**to**
[code]

this upgrade gives me error of the image not rendering. Which is coming from upgrading of the `source-filesystem` version

[2019-06-29 01:34] puterakahfi commented on #335
hi @jd-fillmore
you can use this way to register AOS in gridsome
in main.js add this line inside the function

import AOS from 'aos';
import 'aos/dist/aos.css'
export default function(Vue, { router, head, isClient }) {
  Vue.use(AOS.init());
}

don't forget to add data-aos attribute in your component

hope this help

[2019-06-29 20:59] derevandal commented on #463
It works! Thanks @hjvedvik o/

[2019-06-29 20:59] #463 closed

[2019-06-29 22:17] eleijonmarck commented on #499
When running latex rendering in conjunction w. syntax highlighting of code.

Both @fullpwemium and I ended up switching from `prism-js` to `shiki` plugin instead.

I am now using it in the source-filesystem remark option.

[2019-06-30 08:54] u12206050 commented on #525
@martifenosa thanks for the tip, however I can't seem to get the resolver to work as it does by default if the date value does indeed exist. I found the file in Gridsome `gridsome/lib/graphql/types/date.js` which I am trying to update to see if it helps.

[2019-06-30 09:41] eleijonmarck commented on #499
The only way I get it to run on netlify is to first build without syntax highlighting for images
and then build for syntax highlighting (therefore taking the images from the .cache)

Removing the `.cache` directory makes the error pop up again.

[2019-06-30 09:49] martifenosa commented on #525
We had the same issue in our projects, we use the wordpress-source plugin and when a acf field is requested it is a must that it exists with content **in at least one of the pages** (it doesn't matter if you call another page that has empty fields if at least one has it filled).  So our "fix" is creating a fake page where all the fields have fake content while waiting for the https://github.com/gr

[2019-06-30 10:04] u12206050 commented on #525
I understand what the issue is, it isn't really the same as yours, since in our case the field always does exist, it is just that the value could be either a valid `date` or `null`.

I will be making a PR once I have built the site on production to make sure it works.

[2019-06-30 10:04] #525 closed

[2019-06-30 10:12] u12206050 commented on #525
#527

[2019-06-30 10:41] BenRoe opened #528 "[Question] remark-autolink-headings no link for h1"
Hello,
if i use the remark plugin autolinkHeadings, it creates a link for all headlines.
I don't wan't the link for H1 headlines link on https://gridsome.org/docs

I could not find how to change this behaviour.
Maybe @tomtev can help? You redesigned the docs section.

[code]

[2019-06-30 16:03] snoopdouglas commented on #470
For those arriving here from Google: this is currently possible in VS Code by configuring eg.:

[code]

..and then running the command **Vetur: Generate grammar from \`vetur.grammar.customBlocks\`**

[2019-06-30 16:36] snoopdouglas opened #529 "Turn off Vue production tip by default"
## Summary

I reckon Gridsome should default to setting `Vue.config.productionTip = false`.

### Basic example

I'd imagine this could be added fairly early on in `gridsome/app/app.js`.

### Motivation

* I'd imagine your average Gridsome user was first using Vue CLI, which also does this for you.
* Optimisation in production is evidently the name of the game here!

[2019-06-30 18:22] snoopdouglas commented on #292
I'm new to Gridsome and the amount of digging I've had to do to figure out why `<g-image>` wasn't working has been a big pain.

My use case is that of a single-file collection which is updated by Netlify CMS. It contains data applicable to the entire site (including paths to images I'd like optimised), and thus I can't import it with `source-filesystem` because I don't want routes generated for it

[2019-06-30 21:59] snoopdouglas commented on #326
Any ETA on this?

[2019-07-01 07:55] thminhVN commented on #472
It's worked. Thank you 👍

[2019-07-01 07:55] #472 closed

[2019-07-01 08:21] snoopdouglas commented on #445
Even better would be to have Markdown processed at the data layer, such that the browser never processes the Markdown. I'm opening a separate issue for this now

[2019-07-01 08:30] snoopdouglas opened #530 "General Remark (Markdown) filter"
## Summary

[As briefly noted here](https://github.com/gridsome/gridsome/issues/445#issuecomment-500127082), it'd be useful to have Remark parse arbitrary data fields. This'd be even better if handled at the GraphQL data layer, because then the browser never has to process Markdown at all.

### Basic example

[code]

We'd then expect `$page.post.body` to be pre-rendered, ready to pass to `v-html`.

[2019-07-01 12:06] hjvedvik commented on #530
Yes, it would be really nice to be able to parse any markdown content in the GraphQL layer :) We are working on a new [schema API](https://github.com/gridsome/gridsome/pull/509) which could allow a plugin to for example add a `@markdown` directive which could be used on any `String` field to transform it to HTML. The API will be ready within a couple of weeks.

[2019-07-01 16:17] BenRoe opened #531 "Markdown file as index.html (Startpage)"
Hello,
i have some md files in the docs folder.
How can i show the README.md file in the docs folder as the homepage?
If i use `route: '/',` i get the error `DocPage > Failed to add node: Duplicate key for property path: /`

[code]

Motivation: The home page content should be readable via GitHub.

[2019-07-01 16:17] mjatharvest commented on #292
I believe, you can use the source-filesystem plugin with no routes and it will not generate them. That is the what I have been doing for reusable content that I don't want urls for.

![Screen Shot 2019-07-01 at 11 13 50 AM](https://user-images.githubusercontent.com/285877/60451349-7393cb00-9bf1-11e9-8ed9-3bd5e38f4fac.png)

I've struggled with g-image also, and have used the code shown below when I

[2019-07-01 17:14] snoopdouglas commented on #292
@mjatharvest - both of these look ideal. Couple of questions (because I'm afk right now):

* Won't that config generate routes for `admin/site/content/collections/articles/*`? The docs seem to say this is the case.
* Will the `require()` work with dynamic values?

[2019-07-01 17:25] mjatharvest commented on #292
@snoopdouglas based on the contents of my `dist` folder there are no routes / urls generated for the articles if no route is provided. @hjvedvik could confirm

Re dynamic values, not sure with require, but sometimes I've had to use a component with a template slot to avoid errors.

[2019-07-01 22:24] hjvedvik commented on #531
Hi :) You need to remove the `route` option. Then set `baseDir: './docs'` and `path: '**/*.md'` to make the `docs/README.md` your homepage. And also make sure you don't have a `src/pages/Index.vue` page.

[2019-07-02 03:05] Acidic9 commented on #471
Is there any alternative solution we can use in the meantime?

[2019-07-02 05:28] cdvillard commented on #6
A question about the use of the static folder: Is this just meant for specific files and not assets such as styles? I can't link to anything in the static folder using `g-image` or `g-link`, and Gridsome seems to break at the thought of accessing it for anything at compile time.

[2019-07-02 10:44] u12206050 commented on #6
@cdvillard Think of the static folder as a place where you can put pdf documents or any other resource that you only need access to once the site is built. Any resource you want Gridsome to have access to should be in your `src/assets` directory

[2019-07-02 10:47] u12206050 commented on #471
@Acidic9 you can create a Post that contains all the fields, just give it some random name and exclude it from showing up in your site. Better yet is if you have a Post that is actually used that contains all the fields, you just need 1.

Closing this though since it will be fixed in v0.7

[2019-07-02 10:47] #471 closed

[2019-07-02 11:07] fullpwemium opened #532 "Markdown <script> tags not processed"
## Description

Not able to embed plot.ly plots via markdown.

### Steps to reproduce

[code]

Include following in main.js export default function:

[code]

### Expected result

A plotly plot to be inserted into the div

### Actual result

Nothing is output. The script is included in head, the `div` and `script` tags appear in the DOM, but the script tag is not processed. If I copy the contents o

[2019-07-02 11:21] hacknug commented on #361
@JosephBlythe I remember having issues with Netlify Forms too and I think this fixed it: https://github.com/hacknug/klayaya/commit/9b0442e9394ecc4d8fe205c4a82a2e1dc3156014

[2019-07-02 12:42] sjsd commented on #210
I have just launched my personal site using Gridsome https://www.helgejohnsen.no/

[2019-07-02 13:26] martifenosa commented on #210
We launched this one few weeks ago.
https://smartcityexpoatlanta.com/

Updates coming. We have another one in the oven .

[2019-07-02 14:41] #531 closed

[2019-07-02 15:42] snoopdouglas commented on #361
For those looking to specify redirects from eg. Netlify CMS and create a `_redirects` as part of their deployment, we've come up with a (very barebones) solution.

Netlify CMS writes a redirects.yml for a single-file "Redirects" collection, a la:

[code]

The following script then runs pre-deployment, after which the resultant `_redirects` file is moved into `dist`.

[code]

[2019-07-02 20:04] chorijan commented on #500
we had a similar problem like this using Netlify CMS - we did a quick hack and managed to circumvent this issue by adding a `&nbsp;` after the mail link. you could try something like this `[hello@jamesferrell.me](mailto:hello@jamesferrell.me&nbsp;)`

[2019-07-02 20:06] perpetualgrimace commented on #500
@chorijan good to know, thank you for sharing!

[2019-07-03 10:10] Acidic9 commented on #471
For anyone using Netlify CMS, you can just add a default value of `''` and the field will be there regardless of whether the field has a value.
You should add a default to all non-required fields to be safe.

[2019-07-03 14:28] dougouverson commented on #484
I wholeheartedly agree with @jamelt

New tools, new rules! From, "Beyond the Goal: Eliyahu Goldratt Speaks on the Theory of Constraints"

Don't bring over policy baggage from a 15-year-old CMS paradigm!

[2019-07-03 15:42] syed-haroon commented on #66
for now falling back to native:
`<img src='@/assets/images/img-01.png', srcset='@/assets/images/img-01@2x.png 2x' />`

**Note**: While using `<img />` tag, use `@` don't use `~` else you will get error.

[2019-07-03 15:53] herrbomm opened #533 "Build always shows an empty. JS-file of each site is loading correctly."
## Description

After Build im always left with a blank page and no text/content. In develop-mode everything is working fine. When inspecting the source-code in the browser, the correct JS-files get loaded when entering different pathes (=> requesting the different pages).

The build throws no Errors 🤷‍♂️

I guess im doing something wrong in general. But i dont know what :/

Any help would be VERY

[2019-07-03 21:38] dweldon opened #534 "Fetch fails if Content-Type is missing"
## Description

If the Content-Type response header is missing from a `.json` file (if the web host doesn't add it for some reason), then page transitions where data is needed will fail.

### Steps to reproduce

This is a bit tricky because you'd have to create a host which doesn't add Content-Type headers...

### Expected result

The route transition should happen anyway.

### Actual result

Exce

[2019-07-03 22:09] Jegard opened #535 "Build fails on Ubuntu but works on Mac"
Gridsome build is failing to find any components and import them when ran on ubuntu 18.04 even though the path is definitely correct and builds fine on macOs

The error it throws is this

`(undefined) ./src/layouts/Default.vue?vue&type=script&lang=js& (./node_modules/cache-loader/dist/cjs.js??ref--1-0!./node_modules/babel-loader/lib??ref--1-1!./node_modules/cache-loader/dist/cjs.js??ref--0-0!./nod

[2019-07-04 03:09] Acidic9 commented on #182
So whats the alternative solution?

[2019-07-04 05:34] rumansaleem opened #536 "content filtering based on today's date and published date frontmatter (draft content)"
Is there some configuration available, to draft the content based on published date used as frontmatter?

By drafting content, I mean that the content is not visible on production build until marked published, while everything is visible in development mode.

I know that we can use a boolean `published` variable to filter content. But, just curious to know if there is some other way to publish con

[2019-07-04 06:59] code-a-cola opened #537 "Global Preprocessor Files Bug"
## Description
I am trying to implement global preprocessed file per your documentation [here](https://gridsome.org/docs/assets-css/#global-preprocessor-files-ie-variables-mixins).

I got it working partially, however there is a bug. The styles are only applied to the main component in my project and not to every vue component in the project.

### Describe the issue that you're seeing.
You can see

[2019-07-04 08:37] JosephBlythe commented on #361
@hacknug Thank you adding the hidden input with the form-name did the trick.

[2019-07-04 12:30] gech2me commented on #512
Here is the version:
[code]

### Additional Information
After installing. here the output.
[code]

[2019-07-04 15:08] osama996 commented on #405
What worked with me was that I put vue-carousel in a separate file and then import it and use it like this:
[code]

[2019-07-04 16:08] #537 closed

[2019-07-04 16:49] MetalDent commented on #164
Hi, anyone working on this issue?

[2019-07-04 23:15] hjvedvik commented on #515
Hi @isoppp :) I think we should return 404 for page/1 in development until we find a good solution for generating it in production. It's possible to create redirects routes in Vue Router, but it doesn't work well for static sites since there is no generated HTML file for that URL. We will have some redirect methods sometime soon that probably will work better.

[2019-07-04 23:45] Berkmann18 commented on #326
@snoopdouglas Not as far as I'm aware.

[2019-07-04 23:57] #507 closed

[2019-07-04 23:59] hjvedvik commented on #533
Do you get any errors in the browser console?

[2019-07-05 00:00] #518 closed

[2019-07-05 00:15] hjvedvik commented on #499
@eleijonmarck What is the value for the `cover_image` in your front matter section?

[2019-07-05 00:37] hjvedvik commented on #532
The browser won't execute script tags after the DOM is loaded, unfortunately :) You need to somehow run `eval` or use `jQuery` or equivalent to insert the markup instead. But a better approach would probably be to do something like this in the `mounted` hook:

[code]

[2019-07-05 00:48] #511 closed

[2019-07-05 10:17] fullpwemium commented on #532
thank you for getting back to me! I have the following in my Blog template:

[code]

This doesn't work because I suspect you gave an example of how to do it, i.e. the ellipses, but my javascript isn't that good! Do you by any chance have a working example? I understand if this is asking too much

[2019-07-05 11:11] isoppp commented on #515
Hi @hjvedvik :)
I agree with your idea perfectly and thank you for fixing this.
I will confirm and close this issue after it publishes.

[2019-07-05 12:54] u12206050 commented on #532
Here is a generic all in one function you can use to insert html (script included) and have it execute any scripts within. Either add this function on the page where you will use it as a helper:

[code]

[2019-07-05 13:03] hjvedvik commented on #532
The `insertSnippet()` method in @u12206050's comment might be easier to use. But here is also a more detailed example of what I wrote earlier. I haven't been able to test if it works..

[code]

[2019-07-05 15:11] brandonpittman commented on #534
This bit me today. Wasted an hour on it. Rolled back to 0.6.4 and the issue seemed to go away.

[2019-07-05 15:24] hjvedvik commented on #534
@brandonpittman Sorry for that... Just publish a new version on npm (v0.6.6) that should fix it.

[2019-07-05 15:50] mjatharvest commented on #405
@osama996 sounds good, could you post some sample code?

[2019-07-06 03:29] dweldon commented on #534
Awesome. Thanks for the fast response @hjvedvik.

[2019-07-06 03:29] #534 closed

[2019-07-06 09:13] brandonpittman commented on #534
@dweldon @hjvedvik Thanks for the fix. Glad to know I wasn't just crazy. 😀 Worked on the staging server but not the production server.

[2019-07-06 11:37] eleijonmarck commented on #499
@hjvedvik
from the explorer i get strings for the `cover_image`:

[code]

[2019-07-06 17:59] atilacamurca commented on #484
From <https://www.gatsbyjs.org/docs/themes/>

Maybe we can adapt the ideia to gridsome.

[2019-07-06 23:38] hjvedvik commented on #536
We've been working on a few new API hooks which will let you do that. It will work like this:
[code]
We'll try to publish it next week if everything goes well :)

[2019-07-07 08:34] rumansaleem commented on #536
Yeah! this seems a powerful one. How about also accepting node type as a parameter?

[code]

[2019-07-07 17:29] dominiquedutra commented on #494
@hjvedvik please take a look at this.

https://github.com/dominiquedutra/gridsome-plugin-keep-processed-images

Tested on a live website with lots of images and got the same results as the fix proposed on this PR (https://github.com/gridsome/gridsome/pull/496) in terms of speed gain.

Full build took 360 seconds while building with the plugin took 90 seconds.

[2019-07-08 09:29] devignerforhire commented on #337
@hjvedvik Can you elaborate on why changing to a div would resolve the hydration error? I'm having a similar issue with the live version of my site, where clicking navigation links update the url, but not the page content. I've gone through each of my pages, but not seeing anything out of place. The repo i'm working from is over here -> https://github.com/devignerforhire/smokeyfro-site.

[2019-07-08 09:43] cartoonmadrasah opened #538 "TypeError: Cannot destructure property collection of 'undefined' or 'null'."
![Image 1](https://user-images.githubusercontent.com/7679807/60800435-a3614680-a18e-11e9-9e8e-c857ec10b31d.png)

**Added Paginate data to the page and getting this error, kindly help. I am using Gridsome 0.6.6:**

The code is running fine with Gridsome Develop but throws this error during build:

TypeError: Cannot destructure property collection of 'undefined' or 'null'. at calcTotalPages (E:\TCA\

[2019-07-08 13:22] hjvedvik commented on #538
I think your content type name `predubai` is causing problems for you. There is currently a limitation/bug in the query parser that makes `@paginate` only work when the type name starts with an uppercase letter. It will be greatly improved in the next version of Gridsome. But for now, you can rename your type name to `Predubai`.

[2019-07-08 14:28] cartoonmadrasah commented on #538
Yes, working fine now with the uppercase change. Thank you so much.

[2019-07-08 14:34] sergeyfilimonov opened #539 "iframe ruins routing in iOS"
If on mobile you go to https://svoybrend.ru/services/youtube or https://svoybrend.ru/brief (both links contain embedded content), you can't go to any other pages (try clicking the logo).

Gridsome 0.6.5

[2019-07-08 16:14] sergeyfilimonov commented on #292
@mjatharvest @snoopdouglas @robaxelsen @hjvedvik @bbugh

Can you confirm that `require` method is working and has no drawbacks?

[code]

In my case, I can see the images but I don't them blured while loading.

[2019-07-08 16:22] mjatharvest commented on #292
@sergeyfilimonov you're correct, looks like it's only loading image src and not creating srcset or lazy loading images

[2019-07-08 16:26] sergeyfilimonov commented on #292
@mjatharvest yes, it's working just as `img` tag.

This is what I see in final HTML with `require`:
[code]

This is what I see in HTML with a static url:
[code]

[2019-07-08 16:38] mjatharvest opened #540 "Question - Is there an advantage to using the file system instead of an API for data"
Is there a key benefit (speed or otherwise) to fetching data from the local file system using a source plugin vs getting data from an API using gridsome.server.js?

https://gridsome.org/docs/fetching-data

[2019-07-09 08:19] brandonpittman commented on #540
That's all the source plugins do under the hood.

[2019-07-09 08:20] osama996 commented on #405
This is the component `VueCarousel` where I'm using "vue-carousel"

[code]

And here's the parent component

[code]

[2019-07-09 11:08] brandonpittman commented on #210
Launched this landing page for the Chubu airport today.

https://www.centrair.jp/id/special/chelsea_chubu_tour/

[2019-07-09 12:29] dominiquedutra commented on #540
@mjatharvest don't think so.
I am running a customized version of source-wordpress hacked and copied `pasted on gridsome.server.js. It does the same in the same amount of time basically.

Don't think it would be any different on the local file system scenario.

[2019-07-09 13:23] Dana94 commented on #210
My site https://www.danaottaviani.com/

I'm using this template for it though so not sure if it counts.

[2019-07-09 20:54] thetre97 opened #541 "Source DatoCMS Single Instance"
## Description

Single-instance DatoCMS models appear in the playground, but return `null` when queried. For instance:

[code]
returns
[code]

However querying -
[code]
*-* will return
[code]

### Steps to reproduce

https://github.com/thetre97/gridsome-starter-datocms

Simply create a single instance DatoCMS record, and query with the plugin.

### Expected result

`datoCmsHome { ...` should retur

[2019-07-10 02:51] isoppp commented on #515
Thank you for the fix, I confirmed it :)
I close this.

[2019-07-10 02:51] #515 closed

[2019-07-10 04:04] LukeXF commented on #335
I'm also having this problem. Because I can't use ClientOnly in my main.js file and using the following *doesn't* apply animation on the client side:

[code]

Any suggestions?

[2019-07-10 06:58] tbredin commented on #292
I have run into this too, falling back to using normal `img` for now.

Looking forward to using `g-image` in my components files soon though, eager for an update!

[2019-07-10 10:06] krstic-duci opened #542 "Named routes for Gridsome"
## Description

For every page inside _src/pages/_  I specifically added the **name** (please see the image No.1) property with the names I would like to call my pages inside the website. But after inspecting the **.temp/routes.js** I could only see the following (please see the image No.2), only `Index.vue` and `404.vue` has **name** property.

Image No.1
![pages file](https://user-images.githubu

[2019-07-10 15:54] LukeXF opened #543 "vue-scroll-reveal in Gridsome SSR not building"
Is it possible to use [vue-scroll-reveal](https://github.com/tserkov/vue-scroll-reveal) with Gridsome? I have had it working in Nuxt with `vue-scroll-reveal.js` having:
[code]

and then loading `main.js` with:
[code]

I've got `vue-scroll-reveal` working with `gridsome develop` but it fails to build with `gridsome build` because the scroll-reveal package uses another package that tries to use `win

[2019-07-10 16:17] u12206050 commented on #292
I suggest using an external image cdn service such as [cloudinary](https://cloudinary.com/invites/lpov9zyyucivvxsnalc5/tzfcbhjp86puullf17z2?kind=twitter&t=demo) it is very easy to use and you can enable auto upload and support dynamic sizes.

eg.
[code]

[1200px wide scaled image](https://cloudinary-res.cloudinary.com/image/upload/c_scale,f_auto,q_auto,1200_w/website/customers/stylight-website-new

[2019-07-10 16:29] snoopdouglas commented on #292
Cloudinary and friends will indeed do all of this for you, but [other](https://www.npmjs.com/package/vue-responsive-image) [solutions](https://cloudinary.com/documentation/vue_integration) exist for that. `<g-image>` seems a better fit for those of us who'd prefer not to rely on an external provider for our sites' images.

[2019-07-10 19:17] mjatharvest commented on #540
sounds good, thank you all

[2019-07-10 19:17] #540 closed

[2019-07-10 19:31] mjatharvest commented on #292
If the images are in the local file system there must be a way to use g-image with GraphQL natively that I'm missing. The docs indicate it's possible https://gridsome.org/docs/images#usage-via-graphql

1. First question, what should the GraphQL look like for an image? Can it be just a string? Or should it be an object? Here is an example of an image object I'm creating in `gridsome.server.js`

[co

[2019-07-11 00:38] khrome83 commented on #536
@hjvedvik - any chance you can let me know when this is live? This is the big thing preventing me from publishing drafts to my blog right now. I write them elsewhere then past them in when they want to go live.

I found I can prevent graphql from pulling pages based on dates, but I can't prevent the tags that are created from pulling those same pages. So basically they still get made...

[2019-07-11 13:18] hjvedvik commented on #514
I've been thinking about this... It might be difficult for those plugins to get transformed node fields unless they change their options. They would either generate GraphQL queries or let developers write them manually. For now, I would recommend using the [`marked`](https://www.npmjs.com/package/marked) package to transform the markdown like this:

[code]

It won't include all the Remark plugins

[2019-07-11 13:27] xyNNN commented on #23
What's about this feature? Is there any plans about the i18n feature for Gridsome?

[2019-07-11 14:21] hjvedvik commented on #536
@khrome83 Sure :)

As a workaround, for now, you can get the content type and remove the node in the `loadSource` hook. `loadSource` in your `gridsome.server.js` file will be executed after plugins so the content type should exist.

[code]

[2019-07-11 15:34] #538 closed

[2019-07-11 15:59] khrome83 commented on #536
@hjvedvik you saved me so many hours I already spent lost on this. Thank you very much.

[2019-07-11 19:35] tyrion opened #546 "Allow dynamic routes to be customized on single pages"
## Summary

I have a Post content type configured as follows:
[code]

I would like some posts to have a different route. I am not sure if it is currently possible to do so. Looking at the doc I understood that I could specify `path` for each Post manually, which I would like to avoid. But as far as I understood `route` takes precedence over `path`, so I would not be able to specify `path` only for

[2019-07-11 23:16] khrome83 commented on #536
This worked great. I made one small change for anyone reading this -

[code]
I wanted to see drafts locally. This way only my deployment server which I set `NODE_ENV` in build lambda too "production".

[2019-07-12 07:04] cco3 opened #547 "Error with object spread syntax in gridsome 0.6.6"
## Description

Upgrading from 0.6.4 to 0.6.6, getting an issue with spread syntax in the Link component.

### Steps to reproduce

Upgrade to Gridsome
Include any <g-link>

### Expected result

Everything works

### Actual result

Error in browser
[code]

### Environment

Libs:
- gridsome version: 0.6.6

Browser:
- [ ] Chrome (desktop) version 75

For Tooling issues:
- Platform: Linux

[2019-07-12 13:47] cco3 commented on #547
Issue also exists in 0.6.5

[2019-07-12 14:17] cco3 commented on #547
Specifying "@babel/plugin-proposal-object-rest-spread": "^7.5.4", in my package.json fixed the issue.

[2019-07-13 03:40] sofyanlabs commented on #459
Hello, how to use this?
help me

[2019-07-13 15:46] newtonlaw18 opened #548 "Fail to create and render large set of pages(about 20,000) from API programmatically during build"
## Description

Hello everyone! I have an API that fetches a very large set of data on books(about 20,000) and need to pre-fetch and render about 20,000 of pages using the `createPages` API. It worked well in  `dev` mode and took me 7-8 mins to wait for Gridsome to finish rendering every pages and routes programmatically but when I try to run `gridsome build`, it will always end up with `fatal err

[2019-07-13 17:06] u12206050 commented on #548
Hi @newtonlaw18 I'll try tonight to replicate this and see if I can help you solve this. Could you give me access to the api which you are pulling from I don't have such a huge dataset to test with.

[2019-07-13 17:57] FilledStacks opened #549 "No error during Develop. Lots of errors during Build"
## Description

When using some vue packages I'm seeing that it works during development. When I try to build for a release it fails. I'll use one of the dependent packages as an example.

### Steps to reproduce

1. npm install vue-custom-scrollbar
2. make use of the component like [this](https://binaryify.github.io/vue-custom-scrollbar/en/#why-custom-scrollbar)
3. Run `gridsome develop` (it works

[2019-07-13 18:06] u12206050 commented on #549
Try wrapping the component in `<ClientOnly>`
Here are the docs: https://gridsome.org/docs/assets-scripts/#without-ssr-support

[2019-07-13 18:33] BenRoe opened #550 "vue-fontawesome css not included in build"
Hello,
i followed this instruction https://gridsome.org/docs/assets-svg/#fontawesome-svg-icons to include fontawesome icons.
Everthing works if with develop, but if i build the site, the fontawesome css is not included.

Is that related to postcss or purgecss?

gridsome.config.js
[code]

[2019-07-14 03:37] newtonlaw18 commented on #548
Hi @u12206050 unfortunately I'm not allowed to give you the API as it contains private and confidential information of my company. To give it another round of simulation, I just tried looping the Gridsome `createPages` API for 60,000 time and it gave me the same error too.

[code]

**Build output:**
![gridsome](https://user-images.githubusercontent.com/7781498/61178854-7f3bb480-a629-11e9-94fd-f27c

[2019-07-14 05:53] Js-Brecht opened #551 "Use Gridsome with pnpm"
I just wanted to drop this here in case anybody else is trying to use Gridsome, while using pnpm as their package manager.
* There are some issues with Webpack resolving modules, but that seems to be pretty common when using pnpm, because of the method that webpack uses.
* Gridsome also makes a few assumptions for you about some Vue packages
   * I'm assuming this is because they want users to be

[2019-07-14 06:53] FilledStacks commented on #549
Hi I'll try that. I don't know how i would do that in the vue component itself since it's being used in the template as well. Should i wrap the import statement?

________________________________
From: Gerard Lamusse <notifications@github.com>
Sent: Saturday, July 13, 2019 8:06:24 PM
To: gridsome/gridsome
Cc: Dane Mackier; Author
Subject: Re: [gridsome/gridsome] No error during Develop. Lots of er

[2019-07-14 09:13] IamManchanda commented on #164
cc @robaxelsen

[2019-07-14 10:11] Js-Brecht opened #552 "Routing issues in typescript project"
## Description

Navigation between pages fails when hosting Gridsome site after `gridsome build`, using `gridsome serve`, or even using a generic HTTP server.

### Steps to reproduce
Create Gridsome project with typescript starter pack.
[code]
Install packages, and serve content
[code]
* Open your browser to the link provided.
* Click on `About` page.
* Click on `Home` page

### Expected result

I

[2019-07-14 10:16] u12206050 commented on #548
@newtonlaw18 no problem I found a large blog post dataset containing 26000 posts. I built a simple site around that built it without problems. What I do see now is that it is crashing on creating the routes which might be too big.

I think if you use the [Date Store](https://gridsome.org/docs/data-store-api#add-nodes-to-collections) api with a dynamic route then it might actually work.
So just rep

[2019-07-14 10:40] u12206050 commented on #549
Hi,
you wrap i around the component. eg.
[code]

[2019-07-14 11:43] u12206050 commented on #552
I seem to have the same problem using Gridsome v 0.6.6, however I am not using Typescript.
@hjvedvik you want to double check this.

[2019-07-14 13:37] BenRoe commented on #550
I found the problem.
The gridsome-plugin-tailwindcss plugin use [PurgeCSS](https://github.com/brandonpittman/gridsome-plugin-tailwindcss#purgecss) by default.
Set the option shouldPurge to false.

[code]

[2019-07-14 13:37] #550 closed

[2019-07-14 15:28] FilledStacks commented on #549
Much appreciated. I will let you know when I've tried it and close this issue. Thank you.

________________________________
From: Gerard Lamusse <notifications@github.com>
Sent: Sunday, July 14, 2019 12:40:51 PM
To: gridsome/gridsome
Cc: Dane Mackier; Author
Subject: Re: [gridsome/gridsome] No error during Develop. Lots of errors during Build (#549)

Hi,
you wrap i around the component. eg.

<temp

[2019-07-14 21:06] ameistad commented on #508
The -h (lowercase h) flag will let you set a custom host.

[code]

[2019-07-15 03:04] FilledStacks commented on #549
Much appreciated. This worked, definitely need some friendlier errors to indicate some errors :)

[2019-07-15 03:04] #549 closed

[2019-07-15 06:44] u12206050 commented on #549
Just in summary for anyone getting this error: `ReferenceError: document is not defined`, and it is a third party component such as `vue-custom-scrollbar` then you have to wrap it in the `<ClientOnly>` tags as shown above such that it will not try and render within Nodejs when building the site.

More info [here](https://gridsome.org/docs/assets-scripts/#without-ssr-support)

[2019-07-15 07:12] Js-Brecht opened #554 "Question: Generate pages dynamically from GraphQL data?"
I have a particular use case I am investigating, and I would like to know if it is even feasible with Gridsome.

I would like to generate pages dynamically (i.e. determine what components & design the page should use from data).  There will be an engine examining the data, to determine what components should be placed on the page, where, and how.  I would have a plugin querying data, and feeding i

[2019-07-15 07:21] u12206050 commented on #552
@Js-Brecht is this something you also experience? See video: https://www.loom.com/share/bc27ccb43c9d43ff9cc6e254fdb75b93

[2019-07-15 08:14] u12206050 commented on #554
Hi @Js-Brecht, Yes this is totally feasible, and to some extent I have done the same except only on a "block" level not entire pages, however that shouldn't cause an issue.

First off the engine will still need to **know about** but **not load** all the dynamic components that you want. To do this simply specify you'll probably have an engine component looking a lot like this:

EXTRA: I am wrappin

[2019-07-15 15:09] Todmy opened #555 "redundant"
sorry:)

[2019-07-15 15:12] #555 closed

[2019-07-15 16:24] Js-Brecht commented on #552
Not exactly.  I don't even get any URL updates.  Do you get these errors in your browser console?

![gridsomeProd](https://user-images.githubusercontent.com/1935258/61232053-20c61300-a6c9-11e9-9a27-0ab2e23a7d87.png)

![gridsomeDev](https://user-images.githubusercontent.com/1935258/61232066-27ed2100-a6c9-11e9-9fc7-9d79a05acf02.png)

[2019-07-15 17:42] Js-Brecht commented on #554
Ah, so the components **MUST** be registered explicitly?  Is that just so Gridsome knows about them?

I would be willing to do that, but it is another maintenance step.  I would prefer to have the server manage components: let users design components that conform to design specifications that the server can understand, then upload their component package to the server.  Let the server maintain its

[2019-07-15 20:06] u12206050 commented on #554
Ah I understand. Yeh it is webpack that essentially needs to know about the
components otherwise you'd be downloading the same libraries again and
again unless...

You create generic component that is just a wrapper that accepts the path
or name of a component to use. Then you fetch that component which should
be built as a standalone component UMD, you could use requirejs for this
step.
But once

[2019-07-15 21:26] jfet97 opened #556 "Question: how to filter belongsTo nodes"
I've used taxonomy to connect Posts to Authors, and the `<page-query>` inside the `Author.vue` template is the following:

[code]

### Request
I'd like to filter the fragment query into the `belongsTo` field to retrieve only published posts:
[code]
but the following is not allowed:
[code]
I'm quite a beginner with GraphQL, IDK if that is a limitation of the parser used to handle  `<page-query>` ta

[2019-07-15 21:43] u12206050 commented on #556
Hi @jfet97. Unfortunately this is a limitation on GraphQL however in some cases, including yours it might work if you rewrite your query two request the author and their posts separately such as:

[code]

Try it in the explorer, you might have to adjust the author filter a bit. But this will then give you `this.$page.author` and `this.$page.posts`
Hope this helps

[2019-07-15 21:48] u12206050 commented on #554
Ah I understand. Yeh it is webpack that essentially needs to know about the
components otherwise you'd be downloading the same libraries again and
again unless...

You create generic component that is just a wrapper that accepts the path
or name of a component to use. Then you fetch that component which should
be built as a standalone component UMD, you could use requirejs for this
step.
But once

[2019-07-15 21:51] simduchaine opened #557 "Wordpress Souce Plugin - Error: ECONNREFUSED - /wp-json/wp/v2/types"
## Description

Trying to setup a gridsome site using the official wordpress plugin (@gridsome/source-wordpress) but when I'm running `gridsome explore` or `gridsome develop` I get an Error.

### Steps to reproduce

Setup a new gridsome website using the WordPress starter kit (`gridsome create my-blog wordpress`). Add the website baseUrl then run `gridsome develop`.

### Expected result

Gridsome

[2019-07-15 21:58] u12206050 commented on #557
@simduchaine This might be a rate limit issue which is the server trying to block a DDOS attack. You can check if this is the case if some of the other queries are getting data eg. `/wp-json/wp/v2/posts` if so, then the WP plugin will have to implement a rate limiter such as to not create so many consecutive requests.

Could you check this?

[2019-07-15 23:23] simduchaine commented on #557
@u12206050 After your comment, I thought that some security plugins like Jetpack or Wordfence (both installed on my Wordpress website) could block the request. I disabled them and changed the gridsome.config.js file from `concurent: 10` to `concurent: 1`.

It didn't work.

Then, I checked at my apache logs and I found this when fetching the data:
[code]

So I see code 200, which I assume is okay o

[2019-07-15 23:59] simduchaine commented on #557
Ok I realised that on project setup I used the Wordpress Starter Kit `gridsome create my-gridsome-site wordpress`.

I setup a new project with the standard setup `gridsome create my-gridsome-site` and added the wordpress source plugin by hand. I don't have the ECONNREFUSED problem anymore! So it looks like the problem come from the wordpress starter.

[2019-07-16 00:46] Js-Brecht commented on #554
I like that idea, using a ComponentLoader wrapper.  I also found this: [Using VueJS computer properties for dynamic module imports](https://medium.com/@codetheorist/using-vuejs-computed-properties-for-dynamic-module-imports-2046743afcaf).  It looks like when you use `import()`, WebPack automatically splits your code.

I set up a test respository, built off of the typescript starter:
https://github

[2019-07-16 05:58] Js-Brecht commented on #552
The issue in action: https://js-brecht.github.io/about

[2019-07-16 07:43] u12206050 commented on #554
For Webpack to split your code it would still need to know about it at build time, meaning you have to rebuild your entire project whenever you add a new component. Whereas the method I pointed out earlier would have one core Webpack bundle which is the main website, and then each component would be built separately.

Static site rendering could still work but yes it will ruin the speed benefits b

[2019-07-16 07:51] jfet97 commented on #556
Thanks @u12206050 for your fast feedback and for making me clear that is a GraphQL limitation.
The workaround you presented makes completely sense to me, so thanks :D for your time

[2019-07-16 07:51] #556 closed

[2019-07-16 08:04] u12206050 commented on #546
The proper way to do this is with redirects on your hosting platform. Netlify and most other host platforms support redirects. You would have something such as `/\d{4}/(.)* /$1` Meaning any route with 4 digits and then the slug would be redirected to just the slug.

For SEO this is also the better option since you are notifying browsers and search engines that this same page is now just under a di

[2019-07-16 08:07] u12206050 commented on #239
Have you thought of having one site per language. That is what we have done with a previous static site, where each we simply change the environment variables which then filters what content to fetch and what language json file to use for any static text. Each site then can have its own domain/subdomain.

[2019-07-16 08:32] #557 closed

[2019-07-16 08:36] u12206050 commented on #552
Works when changing index.vue script to:
[code]
Seems to be a problem with the `vue-class-component` which `vue-property-decorator` uses. I am guessing it is because it is not using the same Vue instance as the one Gridsome uses and as such is undefined when Gridsome wants to navigate.
Strange that it works from `about` > `home` > `about` and then not back again to home! 😕

[2019-07-16 08:40] u12206050 commented on #543
Sorry for the slow reply. Have you tried wrapping the components where you use the `v-scroll-reveal` inside `<ClientOnly>` tags?
[Read more here](https://gridsome.org/docs/assets-scripts/#without-ssr-support)

[2019-07-16 09:20] snoopdouglas commented on #313
I can't get this to work with external devices for eg. Chrome's remote debugging, even with #134's suggestion of `GRAPHQL_ENDPOINT=/___graphql`. Gridsome still tries to access 0.0.0.0.

[2019-07-16 09:21] #508 closed

[2019-07-16 10:12] hjvedvik commented on #552
@Js-Brecht Vue doesn't support classes natively, so I think you need to use the `@Component` decorator. The decorator converts the class into an object that Vue understands:

[code]

[2019-07-16 10:17] LukeXF commented on #543
I have yes, but unfortunately, the whole site uses `v-scroll-reveal` as I've animated every page. So it would defeat the point of using SSR if I decided to use `<ClientOnly>` across the whole site right?

Ultimately I'd like to get the HTML attributes `v-scroll-reveal` rendered onto my front end code without it renders on the server-side (or for the server-side to ignore it), but I think I'm proba

[2019-07-16 10:28] u12206050 commented on #552
@hjvedvik This doesn't solve the issue though. Still get ```TypeError: Cannot read property '_init' of undefined
    at t (app.0bd59f4c.js:7)
    at app.0bd59f4c.js:22
    at Array.map (<anonymous>)
    at app.0bd59f4c.js:22
    at l (app.0bd59f4c.js:22)
    at r (app.0bd59f4c.js:22)
    at app.0bd59f4c.js:22
    at app.0bd59f4c.js:22
    at e.a (app.0bd59f4c.js:17)
    at l (app.0bd59f4c.js:22)``

[2019-07-16 12:34] greven commented on #411
I know this is closed, but this definitely needs to be documented.
I lost so much time looking into a way to reference an image in the assets folder directly in CSS.

[2019-07-16 13:56] hjvedvik commented on #548
I did a few small changes and was able to reduce the create pages duration from 126s to 1.5s on my computer when creating 60000 of them :)

I also needed to reduce the number of routes to make it work. The example in https://github.com/gridsome/gridsome/issues/548#issuecomment-511190280 will work, but there is also a workaround that you can use with the Pages API. You can have a `route` option for

[2019-07-16 18:19] Js-Brecht commented on #552
Sorry, I do use the decorator.  Forgot to put it back after testing it as an object.  I do still get the same error, though.  Also, if I start at `about`, it will still break when trying to navigate back: `about` > `home` > `{{fail}}`.  After a refresh on the current page, it will work again.

[2019-07-16 18:24] derevandal commented on #543
I had same problem with `vue-if-bot`... Works with NuxtSSR, but not with Gridsome SSR.

[2019-07-16 19:47] mjatharvest commented on #459
question for you @milosodalovic @dominiquedutra, with your implementations, did g-image optimize and resize the images, giving you srcset and lazy loading?

I have not found a way to get lazy loading to work with g-image and graphQL data and was wondering if the full system file path was the issue

Could you post a sample of what your graphQL data looks like from Wordpress?

[2019-07-17 01:08] f-elix opened #558 "In-component guards not called"
I'm trying to call beforeRouteLeave() on a page component and nothing happens. Any idea how to access these vue-router guards from inside the component?

[2019-07-17 04:29] jamesgeorge007 opened #559 "[CLI]: How about having a banner"
![Screenshot from 2019-07-17 09-56-57](https://user-images.githubusercontent.com/25279263/61347176-8d800f80-a879-11e9-9ab5-c131e582662c.png)
.

[2019-07-17 04:30] jamesgeorge007 commented on #559
There is a pre-available package for the purpose - [node-banner](npmjs.com/package/node-banner)

[2019-07-17 04:31] jamesgeorge007 commented on #559
cc @hjvedvik

[2019-07-17 04:55] jamesgeorge007 commented on #559
I have had put together an npm package for the purpose - [node-banner](https://www.npmjs.com/package/node-banner)

[2019-07-17 10:17] LukeXF opened #560 "Scoped CSS doesn't work with layout"
## Description

I've read the docs on [scoped CSS in Gridsome
](https://gridsome.org/docs/assets-css#scoped-styles-in-components), same as standard Vue really. But any of my code that is wrapped with the `<Layout>` tags won't load any scoped CSS.

### Steps to reproduce

Doesn't work:
[code]

works:
[code]

### Expected result

I mean I understand why this probably isn't working because it's a sub

[2019-07-17 10:47] Al-Rozhkov commented on #560
First of all you should use classes. From [vue loader docs](https://vue-loader-v14.vuejs.org/en/features/scoped-css.html#also-keep-in-mind):

[2019-07-17 13:35] LukeXF commented on #560
@Al-Rozhkov My code is using classes, I've stripped all the HTML and CSS down for this example as it's not relevant to the issue (and put a `h1` example in there). But thank you for pointing that out!

[2019-07-17 13:42] domnantas opened #561 "Gridsome components in Storybook"
## Description

I am trying to build the UI components using [Storybook](https://github.com/storybookjs/storybook) and I need to register `g-link` and `g-image` components inside Storybook's config. `g-image` component seems to work fine, but `g-link` throws an error when being imported.

Is it possible to make the `g-link` component reusable in other contexts? This would help testing a lot.

###

[2019-07-17 18:57] Js-Brecht commented on #554
Rebuilding the project is basically what's going to be happening every time you make changes to the design, anyway.  I will have a server handling all of the build details, like the component store, the database, building and publishing the site... all of that.  It will essentially be the go-between between the user, and the site build process (Gridsome, here).  It's the piece of this that shouldn

[2019-07-17 18:57] #554 closed

[2019-07-17 19:21] kiwimonk opened #562 "GraphQL addReference on Object Array"
## Summary
A way to have addReference traverse down into non root Types.
collection.addReference(fieldName, typeName) and the source-filesystem options only apply to a root Type.

### Basic example
#### My Input File:
[code]
#### This already works:
[code]
#### This would be nice:
[code]

### Motivation
References are already very powerful, but they are limited by only applying at the Root level.

[2019-07-17 20:46] tyrion commented on #546
Ok, that makes sense, thanks for the reply.

Meanwhile I had already found a workaround, which I will share hoping it can be useful to someone else.

Basically I removed the `route` setting from the ContentType definition in `gridsome.config.js`. This way I would need to manually specify a path for each Post. In order to avoid that I added the following snippet in `gridsome.server.js`:
[code]
In t

[2019-07-17 20:46] #546 closed

[2019-07-18 01:41] NickStees commented on #343
Any update on the CSV generating content from CSV files? I really can't even figure out how to read a single CSV file and get it into GraphQL. It be great to [improve the docs for that plugin](https://github.com/gridsome/gridsome/tree/master/packages/transformer-csv) just a little bit further.

[2019-07-18 05:44] zhiga90 opened #563 "Environment variables"
i want variables will be available as process.env.{name} on the server as written on the https://gridsome.org/docs/environment-variables/ page. But @gridsome/source-plugin does not exist.
What should I do?

[2019-07-18 06:49] sofyanlabs opened #564 "error processing image on netlify"
I use gridsome wordpress, but when i deploy on netlify
i got error at processing image

how to fix this?

1:47:05 PM: Process files (0 files) - 0s
1:47:05 PM:
1:47:05 PM: Processing images (244 images) - 0%
1:47:11 PM: Processing images (244 images) - 10%
1:47:11 PM: Processing images (244 images) - 20%
1:47:11 PM:
1:47:11 PM: Processing images (244 images) - 30%
1:47:11 PM: Error: VipsJpeg: Prema

[2019-07-18 07:01] u12206050 commented on #564
What version of Gridsome are you using? I believe a similar issue was fixed
in 0.6.6

On Thu, 18 Jul 2019, 08:49 Ahmad Sofyan, <notifications@github.com> wrote:

[2019-07-18 07:22] sofyanlabs commented on #564
same version 0.6.6
how to fix it?

[2019-07-18 07:52] u12206050 commented on #564
The `g_hash_table_lookup: assertion 'hash_table != NULL'` failed message appears when the Node process unexpectedly dies whilst image processing is in-flight.
It might be as a result of the Netlify build limit which I think is between 10 and 15 minutes.
How long does your build take?

[2019-07-18 08:04] sofyanlabs commented on #564
I don't count it
but in my computer, its fine.

how to extend the time limit on netlify?

[2019-07-18 08:19] u12206050 commented on #564
you can calculate it by looking at the log output on Netlify, look at the first timestamp and subtract that from the last timestamp. I don't believe you can extend the time limit on Netlify.

[2019-07-18 10:21] u12206050 commented on #564
Could you try this: install this hotfix version of gridsome

`npm install https://github.com/u12206050/gridsome.git#gerard/hotfix-sharpImageCatch` then try and build again on Netlify.

[2019-07-18 12:35] codenamezjames opened #565 "Failed to compile with 1 errors"
## Description

Describe the issue that you're seeing.

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please please link to a demo project if possible, this makes your issue _much_ easier to diagnose (seriously).

### Expected result

What should happen?

### Actual result

What happened.

### Environment

<pre><code>
Libs:
@gridsome/cli v0.2.0
gridsome v0.6.6

[2019-07-18 13:06] rodrigorhas commented on #299
I've fixed this bug updating the permalinks.

See this
https://stackoverflow.com/questions/34670533/wordpress-rest-api-wp-api-404-error

[2019-07-19 03:24] sofyanlabs commented on #564
and now, show errors :

10:22:24 AM: build-image version: 9e0f207a27642d0115b1ca97cd5e8cebbe492f63
10:22:24 AM: build-image tag: v3.3.2
10:22:24 AM: buildbot version: ef8d0929ed0baabafd8bbb7d0b021e1fc24180c0
10:22:24 AM: Fetching cached dependencies
10:22:24 AM: Starting to download cache of 255.0KB
10:22:24 AM: Finished downloading cache in 66.511331ms
10:22:24 AM: Starting to extract cache
10:22

[2019-07-19 09:04] u12206050 commented on #564
Have you tried it locally first?
Also do you know if the original error happens with the same images each time?

[2019-07-19 09:16] sofyanlabs commented on #564
no problem at locally
i use this : https://gist.github.com/dominiquedutra/8d48018c62b8270f51630de1eacc2711
for get wordpress to gridsome

[2019-07-19 13:23] jamesgeorge007 opened #566 "Having a dedicated command to show up local environment information"
## Summary

Presently, as in the issue-template the user is required to provide information concerning his local environment.

### Basic example

`gridsome info`

### Motivation

A dedicated `info` command would ease the workflow, and all the user has to do is to paste the results as shown.

[2019-07-19 13:24] jamesgeorge007 commented on #566
cc @hjvedvik

[2019-07-19 13:25] jamesgeorge007 commented on #559
cc @hjvedvik @clarkdo

[2019-07-19 21:30] WvanDam commented on #453
@tomtev Could you tell us what the timeframe is for this plugin? I'm starting a small project at the end of this month and I'd love to try GridSome in combination with Sanity as headless CMS and Netlify for hosting!

[2019-07-20 07:57] sofyanlabs commented on #564
hi @ u12206050 can you check my gridsome server?
I use path.resolve to get images locally from graphql

maybe I was wrong by using this method

https://github.com/sofyanlabs/wp-test/blob/master/gridsome.server.js

[2019-07-20 09:23] u12206050 commented on #564
It looks correct, but I wouldn't load the images into the `src/assets` folder rather in another root folder, just because it won't be pushed to repository and because Gridsome already parses files in the the assets folder. So change `featuredImagesLocalPath` and `postImagesLocalPath` to `/wp-images` for example. Not under `src`

[2019-07-20 09:26] sofyanlabs commented on #564
can u send your settings for gridsome source wordpress?

starter template not processing image by g-image

[2019-07-20 10:10] u12206050 commented on #564
I had to update your `https://github.com/sofyanlabs/wp-test/blob/master/gridsome.server.js` file, look at the proposed change.
This is how I am running it, I just added the following to the bottom of the same `gridsome.server.js`

[code]

[2019-07-20 10:20] u12206050 commented on #564
Remember to remove all your images from the `src/assets/img` directory if they are still there.

[2019-07-20 10:27] sofyanlabs commented on #564
Stay the same, can't be deployed to netlify

[2019-07-20 10:31] mnlmaier opened #567 "router.push() behaving differently than g-link"
## Description

`router.push()` doesn't unmount the layout

### Steps to reproduce

add an action to the `mounted` hook of the layout and notice that it's always called when navigating via `g-link` but not when navigating via `push()`

### Expected result

Mounting/unmounting should behave consistently for both cases

### Actual result

`g-link` unmounts/mounts the layout, `push()` doesn't

### No

[2019-07-20 10:42] sofyanlabs commented on #564
some images are problematic, cannot be accessed and result in a null value
http://prntscr.com/ohnn2c

[2019-07-20 10:56] sofyanlabs commented on #564
now, i know

Error: VipsJpeg: Premature end of JPEG file

this error is caused by some damaged images.
then, how to download from wordpress to local and not get a damaged images?

[2019-07-20 11:33] u12206050 commented on #564
Make sure to only use completely downloaded images, you could first
download to tmp folder and then once download is fully complete move file
to image folder.

On Sat, 20 Jul 2019, 12:56 Ahmad Sofyan, <notifications@github.com> wrote:

[2019-07-20 11:37] sofyanlabs commented on #564
how to implementation it? I'm a beginner in the node

[2019-07-20 12:12] hjvedvik commented on #567
The `g-link` component is a wrapper around the `router-link` component from Vue Router. And `router-link` calls `push()` internally. So it should have the same behavior :) I tested it now and it seems to work as expected.

[2019-07-20 12:17] u12206050 commented on #564
Here is a file download implementation that I wrote for another source-plugin. https://github.com/u12206050/gridsome-source-mysql/blob/master/file.js

You can reuse it.

[2019-07-20 12:28] sofyanlabs commented on #564
i don't know how to use it lol

[2019-07-20 12:45] sofyanlabs commented on #459
i use your gridsome server, but some images download is corrupted.
how to fix it?

[2019-07-20 16:47] u12206050 commented on #564
Ok, I'll update your code.

[2019-07-20 16:50] sofyanlabs commented on #564
oh god
thank you very much!!!  I will wait

[2019-07-20 17:41] u12206050 commented on #564
Done. Try now.

[2019-07-20 18:23] u12206050 commented on #459
I've added it as a PR #568

[2019-07-20 20:59] cartoonmadrasah opened #569 "Links don't work in production on first visit (after build)"
https://silly-mestorf-fbe098.netlify.com

Everything is working fine in development but not in build version. I have tried previous suggestions like removing netlify forms, removing <g-image>, removing fa-icons, removing nested links in nav, removing google map, removing scripts from main.js, but nothing seems to be the issue. Kindly help this problem. Thank you.

I am using Gridsome 0.6.6

[2019-07-21 04:44] sofyanlabs commented on #564
Thanks, you're an amazing person for helping me out!

no image broken now.
and new error came on netlify.

11:36:35 AM: Compile assets - 10.46s
11:36:35 AM: Failed to render /2
11:36:35 AM: TypeError: Cannot read property 'src' of null
11:36:35 AM:     at render (node_modules/gridsome/app/components/Image.js:35:16)
11:36:35 AM:     at /opt/build/repo/node_modules/vue/dist/vue.runtime.common.prod.j

[2019-07-21 05:12] #564 closed

[2019-07-21 07:54] #569 closed

[2019-07-21 07:55] cartoonmadrasah commented on #569
Resolved the issue by isolating the problem. It was G-Link on a B-Card.

[2019-07-21 08:09] u12206050 commented on #564
I update the code once more, just added a check on the image to make sure it isn't null. That will fix the error you got about src being null.
Pleasure, glad it helped.

[2019-07-21 08:10] u12206050 commented on #565
Closing due to lack of information.

[2019-07-21 08:10] #565 closed

[2019-07-21 12:32] OctoD commented on #180
@Manuel-Suarez-Abascal try this

In your **main.js** file default exported function

[code]

[2019-07-21 13:36] mnlmaier commented on #567
@hjvedvik thanks for checking out my issue! how are you calling `push()`, are you passing any options which I might have missed?

[2019-07-21 23:01] ahsath commented on #232
Definitely a good feature to have

[2019-07-22 00:15] LukeXF commented on #543
@derevandal exactly! Can anyone at Gridsome provide some guidance?

[2019-07-22 00:16] LukeXF commented on #560
@Al-Rozhkov are you able to give any guidance to the actual issue?

[2019-07-22 07:28] u12206050 commented on #543
Hi everyone, I currently have two separate solutions that we can publish, but only want to publish one.

**1** Please vote 🚀rocket for the first one; which is simply a fork of `vue-scroll-reveal` that we can publish as `gridsome-scroll-reveal` as a simple drop in replacement. eg.

[code]

**2** Else vote 👀 eyes for the second; which is an extra library you include `gvue-scroll-reveal` that you wou

[2019-07-22 07:32] u12206050 commented on #543
In the meanwhile this will also work, which is basically what **Option 2** from above looks like:

[code]

[2019-07-22 08:11] u12206050 commented on #543
`gridsome-scroll-reveal` is published as a drop-in-replacement for `vue-scroll-reveal`

`npm install gridsome-scroll-reveal -S`

[code]

[2019-07-22 08:11] #543 closed

[2019-07-22 09:27] u12206050 commented on #543
BTW, none of this is needed if you just use `process.isClient` around `Vue.use()`
eg.

[code]

[2019-07-22 09:41] Al-Rozhkov commented on #560
I don’t see actual issue because I can’t see your real example. Start from debugging your page with devtools. Do you see [data-v-*] attributes on elements you want to style?

[2019-07-22 10:14] maximilliangeorge opened #572 "Query parameters get cancelled in develop, and crashes the site in production"
## Description

Page requests that make use of query parameters cause unexpected behaviour in development (`gridsome develop`), and cause crashes in production (`gridsome serve`)

### Steps to reproduce

Visit the root url with some query variable. `http://localhost:8080/?my=query`

### Expected result

The route should be displayed as per usual. The query parameters should remain in the address b

[2019-07-22 12:46] maximilliangeorge commented on #572
After ~~a little~~ a lot of trial and error I managed to preserve the query params by setting up a route handler that mutates `req.url` and passes the request to the next matching route. At least I think that's what's happening...

[code]

[2019-07-22 17:25] cbaone opened #573 "GraphQL not building schema"
## Description

Even with the default starter project the GraphQL schema has nothing more than path and context. I can't grab id, path, title, slug, content, date or anything else. It seems I have done something wrong, but I followed the install step by step, several times with no luck.  I'm happy to have someone tell me it was a stupid mistake, because then I could move on. I don't know that ther

[2019-07-22 19:06] hjvedvik commented on #573
The `Page` type in the schema is very limited and not very useful atm. It just lists the paths for the registered pages on your site :) You should instead add your own data with custom fields etc. It can either be done with source plugins or manually with the [Data Store API](https://gridsome.org/docs/data-store-api).

[2019-07-22 20:19] cbaone commented on #573
OK. That helps.

If I want to avoid .md files, will Gridsome still dynamically generate routes for .vue files in the /pages directory? Because I'm not able to access anything in GraphQL when trying to run v-for to build out the menu. I guess I'm dense, not getting how to get the nodes into GraphQL.

I realize that I need to create the data structures, but is this not allowed?

<pre><code>
use: '@g

[2019-07-22 21:38] leopiccionia commented on #563
It's just an example -- replace "`@gridsome/source-plugin`" with a real plugin name. `process.env.{name}` should work without additional steps.

For example, if I'm passing a Google Analytics ID to Gridsome server, I'd write something like this:

[code]

---

 Perhaps the docs could be improved to make it clearer.

[2019-07-23 11:44] LukeXF commented on #543
@u12206050 thank you so much for your multiple solutions. Your interim solution worked, and I've also installed `gridsome-scroll-reveal` which worked a treat since the code is so simple.

My working solution:

`yarn add gridsome-scroll-reveal`

[code]

Appreciate you taking the time to help me out and add the plugin to Gridsome!

[2019-07-23 13:32] hjvedvik commented on #572
The `gridsome serve` command is only maintained occasionally so it is very unstable :) The plan is to improve it when we are closer to a 1.0 release.

[2019-07-23 13:40] hjvedvik commented on #573
Yes, Vue components in `src/pages` will have their own routes automatically. But it's not possible to automatically generate a menu for them atm. So I would recommend settings the menu up manually instead for now. We might allow some front matter data (like title etc.) for the pages that will be available in the schema, but it's not implemented yet.

Using `*.vue` files with the `@gridsome/source-

[2019-07-23 14:11] cbaone commented on #573
Yes. I figured that out last night. Thanks for confirming.

However, I did discover the mdvue plugin that's being built and I might be able to use that. It looks nearly ready, do you have a potential release date? In the meantime, I will just build out the menu manually.

[2019-07-23 16:14] khuumi commented on #500
@hjvedvik Thanks so much for pushing out a fix! :)

[2019-07-23 20:56] NickStees commented on #343
I think I am running into a similar limitation, I have CSV data imported but cant create a GraphQL query to only pull some of the data due to it all being in a single records field.

For example I can't figure out how to query that data imported from a CSV. (below does not work)
[code]

[2019-07-23 21:11] Al-Rozhkov commented on #343
For my use case I created custom source plugin to collect data from multiple csv and xslx files. And it seems to be an official to use more specific source plugins (see [Move transformer plugins to dedicated source plugins](https://github.com/gridsome/gridsome/issues/454)).

I can provide gist of my custom plugin if anyone takes an interest.

[2019-07-24 11:11] NickStees commented on #343
@Al-Rozhkov I would love to see your custom source plugin, I was going to go the same route, but as a work around for now I uploaded my CSVs to Google Sheets and used that source plugin.

[2019-07-24 12:19] tiptronic opened #575 "Is there a way to build with relative paths?"
By default, Gridsome loads all assets from the absolute root of my site.
I can add `pathPrefix` to move that to a subfolder (e.g. `mysubfolder`), but all assets are still loaded from an absolute url: `/mysubfolder/...`.

Is there a way to have Gridsome to load **relative** paths?  (also all of Gridsome's assets and css)?

[2019-07-24 13:20] Matthew-Kanderka opened #576 "Routing Issue"
## Description

When hosting the website locally I am able to route to different pages using the navbar tabs. But when hosted on AWS amplify selecting any of the navbar tabs the URL changes but the new page is not loaded unless the page is reloaded.

### Steps to reproduce

Go to the website below and select any of the navigation tabs from the navbar.

https://www.hummingbirdairsoft.com/

### Expe

[2019-07-24 13:44] u12206050 commented on #576
Could you update Gridsome to 0.6.6 and try again?

On Wed, 24 Jul 2019, 15:20 Matthew-Kanderka, <notifications@github.com>
wrote:

[2019-07-24 14:10] Matthew-Kanderka commented on #576
I updated to 0.6.6 and tried again but the issue still exists.

[2019-07-24 14:44] mjatharvest commented on #459
@milosodalovic thank you, using the full system path did the trick

[2019-07-24 17:25] Matthew-Kanderka commented on #576
I updated to 0.6.6 and tried again but the issue still exists.

[2019-07-24 17:40] Matthew-Kanderka commented on #576
I updated to 0.6.6 and tried again but the issue still exists.

[2019-07-24 18:25] #573 closed

[2019-07-24 23:29] hjvedvik commented on #576
You've got some `ul` elements inside `p` elements, which isn't valid HTML :) You can try to use `b-list-group` [here](https://github.com/Matthew-Kanderka/hummingbird-Airsoft-Web/blob/develop/src/pages/Index.vue#L28-L54) instead of `b-card-text` with `ul`. The browser will actually move the list out or the paragraph before Vue takes over the dom and that will cause problems like this.

[2019-07-24 23:53] hjvedvik commented on #575
No, unfortunately :) It might be doable with the `<base>` HTML element, but it would require some changes in the webpack config, etc, if it is possible.

[2019-07-24 23:54] jarred opened #577 "Question: Possible to serve static version to certain browsers?"
I have a site with some complicated interactions that is just not worth the effort/time trying to make it work in Edge and IE.

What is the best way to serve the static generated html (no javascript) to some browsers?

Would it be to wrap `Vue.component("Layout", DefaultLayout);` in `main.js` in some conditional statements? Or with this affect static rendering also?

Also, is there a static versio

[2019-07-25 00:01] hjvedvik commented on #567
@mnlmaier I just tested with this code and it behaved like expected:
[code]
How are you calling `router.push()` in your code?

[2019-07-25 00:17] hjvedvik commented on #577
You can check out the [vue-lazy-hydration](https://github.com/maoberlehner/vue-lazy-hydration) package and see if you can accomplish what you want with it. Especially the [Manually trigger hydration](https://github.com/maoberlehner/vue-lazy-hydration#manually-trigger-hydration) section. The idea is to server-side render the component, but only hydrate it in the browser when you want to.

[2019-07-25 00:41] hjvedvik commented on #558
The `beforeRouteLeave()` method isn't available on `this`. It's a life-cycle hook that Vue Router uses and is not meant to be called manually. You can instead move any logics in it to a normal method which you can use both in the component and in the `beforeRouteLeave()` hook.

[2019-07-25 00:52] hjvedvik commented on #562
Yes, the `collection.addReference()` method is limited to root fields, unfortunately. You can, however, use the `store.createReference(typeName, id)` method to have a reference at any level if you are creating the nodes yourself.

We are also working on a new schema API which will make it possible to achieve what you want by defining the schema yourself. It would look like this:

[code]

[2019-07-25 01:29] jarred commented on #577
@hjvedvik thank you, this looks great.

[2019-07-25 01:29] #577 closed

[2019-07-25 03:13] NickStees commented on #434
@hjvedvik I am also having this problem in Gridsome v0.6.6

[code]

[2019-07-25 12:42] AmoDinho commented on #576
Hi Guys,

I'm also experincing the same problem here: https://deploy-preview-4--pmbnewsroom.netlify.com

Here is the repo: https://github.com/pimp-my-book/newsroom/tree/feature/layouts_templates

Could you please point out where I'm going wrong? Because I have something like this going on and its still giving me issues:

[code]

[2019-07-25 12:52] hjvedvik commented on #576
@AmoDinho The code in [these](https://github.com/pimp-my-book/newsroom/blob/feature/layouts_templates/src/components/navigation/NavBar.vue#L23-L42) lines is probably causing your issues. Paragraphs and anchors cannot be nested elements. The `router-link` component is an `a` element so it cannot be inside another `a` element :)

[2019-07-25 12:59] AmoDinho commented on #576
@hjvedvik Thanks for that 👍 So I removed the duplicated `a` element but I am still not able to route to an individual post 😢

[2019-07-25 13:02] Matthew-Kanderka commented on #576
I changed the recommended lines and I am now able to route to the different pages. Thanks!

[2019-07-25 13:08] hjvedvik commented on #576
@Matthew-Kanderka Great! :)

@AmoDinho You also need to remove the nested paragraphs. The best solution is probably to change the wrapping `p.text-white` to a `div.text-white` instead.

[2019-07-25 13:22] AmoDinho commented on #576
@hjvedvik You're a champ bruv! 🎖 It worked, thanks for your help and making Gridsome! 🏆

[2019-07-25 13:26] #576 closed

[2019-07-25 14:17] mjatharvest commented on #292
In researching this further and some help from this thread, I was able to get g-image working with GraphQL using a full fill system path. https://github.com/gridsome/gridsome/issues/459

[2019-07-25 14:46] tiptronic commented on #575
Can I add a feature request for this?
I think this would be a very valuable addition to work out of the box!

[2019-07-25 15:02] sergeyfilimonov commented on #292
@mjatharvest could you please share your code that works?

[2019-07-25 17:13] nuriaheep opened #578 "Error: Names must match when added link to a pdf file"
## Description

I get this error when I add a link to a pdf file inside a WYSIWYG field at WordPress

[code]

### Steps to reproduce

I'm deploying with Netlify, and this error fails the deploy.
The filename is a single word, like: somefile.pdf

[2019-07-25 20:40] promovis commented on #311
npm install @gridsome/source-wordpress
Here is a plugin to source/import from WP

[2019-07-26 02:44] NickStees commented on #434
I just tried Gridsome v0.6.7 and context variables in the query are working for me now. 🍻

[2019-07-27 06:32] woubuc opened #579 "Add file modified info to source-filesystem plugin"
## Summary
I'd love to have access to the **last modified time** and **created time** through the `fileInfo` object, for pages loaded with the `source-filesystem` plugin.

This can be done by simply running `fs.stat()` on the file and adding the relevant fields to the generated `fileInfo` object.

I've looked over the other properties on the `fs.Stats` object, but they seem less relevant to me.

#

[2019-07-27 07:16] u12206050 commented on #579
@woubuc I doubt this will work once you push deploy to a server since the files 'created' and 'lastModified' dates are then set to the time of deployment.

"Git does not store file creation dates (in a significant sense, Git's files don't have creation dates)."

Might be that in your use case this won't be an issue if you are always deploying from your own server.

So we can not add this sorry. It

[2019-07-27 07:16] #579 closed

[2019-07-27 07:18] u12206050 commented on #578
I've also had this error a few times but when I try building again it is gone. Have you tried just building again? Do you get the same result?

[2019-07-27 10:38] cizza commented on #462
Hello hjvedvik,

thank you for the fix. I've tested it on my project and I can confirm, there's no problem anymore.

Thank you! Amazing work.

[2019-07-27 10:38] #462 closed

[2019-07-27 18:20] cartoonmadrasah opened #580 "How to pass variables in a query?"
How can I replace this agent's name with the one in this query? Instead of hardcoding umer, i want to use listing_agent._text from the query. I tried my best to understand the variables part here: https://gridsome.org/docs/querying-data/#query-data-in-templates - but can't seem to get it working. Please help. Thank you.

![Image 1](https://user-images.githubusercontent.com/7679807/61998149-f0b5418

[2019-07-28 09:19] chug2k commented on #23
Sorry to spam, but been watching for a long time and would really like to get this on the roadmap (and I think a lot of others do too)

[2019-07-28 16:19] Jiang-Li commented on #61
I followed the instruction of Remark transformer, and added the `remark-toc`. But it doesn't work. Did anyone apply this before?

The `remark-html-katex` works, but I need to add `import 'katex/dist/katex.min.css'` in the script tag. I am wondering do I need a css for toc? If so, where is it? Thx!

[2019-07-29 01:50] tcober commented on #366
Yeah, I'm getting this and it doesn't seem to have anything to do with the router.

[2019-07-29 02:29] tcober opened #581 "Can't find manifest.json so won't build"
## Description

Can't run gridsome build

### Steps to reproduce

ran gridsome build and got

[code]

[2019-07-29 11:46] hjvedvik commented on #580
If I understand correctly, you want to use the value of `predubai.listing_agent._text` in the filter for `allPredubai`? The opposite is not possible, unfortunately.

When using an automated template, Gridsome will pick values from the current node based on a certain naming convention. You could try a variable named `$listing_agent___text` (three underscores) to get the `node.listing_agent._text` v

[2019-07-29 12:58] cartoonmadrasah commented on #580
Yes, It's working great now. I had tried this earlier, I am sure I must have missed the three underscores. Thank you once again. I am loving gridsome so much.

[2019-07-29 12:58] #580 closed

[2019-07-29 16:06] #478 closed

[2019-07-29 19:02] tyrion commented on #444
The way I am working around this problem is by adding the following at the top of my `gridsome.config.js`:
[code]
This has the advantage that I don't have to manually edit every link and it works for every content type.

[2019-07-29 19:03] Ezra-Siton-UIX opened #582 "Netlify Deploy ==> Error running command: Build script returned non-zero exit code: 1"
`Grid develop` works fine.

**The Repo:**
https://github.com/Ezra-Siton-UIX/new-siteb-2019

**The error (From netlify deploy):**
[code]

[2019-07-29 20:18] leopiccionia commented on #582
You have a typo. Image is named `2_About.png`, not `2_about.png`.

[2019-07-29 22:48] drewtownchi commented on #419
I think this may have been fixed by 025ab83 ?

I don't see this behavior happening anymore on Chrome 75

[2019-07-29 22:48] #419 closed

[2019-07-30 00:06] f-elix commented on #558
Thanks for the response I didn't know that! Appreciate it. Closing the issue.

[2019-07-30 00:06] #558 closed

[2019-07-30 04:10] mikeroosa opened #583 "Google Analytics Plugin not adding necessary code to site"
## Description

I've added the @gridsome/plugin-google-analytics to my site and followed the instructions, but the UA-XXX-X code is not being added to my html when I view in browser. The site is being built and hosted at netlify but when I build it locally it's not working either.

### Steps to reproduce

npm install @gridsome/plugin-google-analytics
add to plugins in gridsome.config.js
gridsome b

[2019-07-30 08:00] jamesgeorge007 commented on #566
cc @hjvedvik @tomtev

[2019-07-30 08:01] jamesgeorge007 commented on #559
cc @hjvedvik @tomtev @clarkdo

[2019-07-30 08:06] jamesgeorge007 commented on #559
@hjvedvik @tomtev @clarkdo shall I go ahead :thinking:

[2019-07-30 08:07] jamesgeorge007 commented on #566
cc @tomtev @clarkdo

[2019-07-30 08:39] hjvedvik commented on #444
PR #574 is going to fix this :)

[2019-07-30 08:48] Ezra-Siton-UIX commented on #582
Wow Thanks! - next time I will read all of this long text. Weird under `gridsome develop` no issue.

[2019-07-30 08:48] #582 closed

[2019-07-30 12:14] simduchaine commented on #557
@u12206050 Now I realize that even if I don't get the ECONNREFUSED error on `develop`, it's like if Graphql is unresponsive and crashed. When I go to the graphql explorer I get an "unresponsive" alert and on the frontend I have a lot of "undefined".

[2019-07-30 16:33] u12206050 commented on #557
@simduchaine do you mind adding me to your code repo, or sending me the Wordpress url you are using such that I can try and reproduce?

[2019-07-30 18:06] Al-Rozhkov commented on #343
That's pretty much how I do it.

1. Run `yarn add xlsx`.
2. Create folder for custom plugin in the root of your project, e.g. `source-xls-plugin`.
3. Create `index.js` inside `source-xls-plugin`:
[code]
3. Register custom plugin inside `gridsome.config.js` like this:
[code]

[2019-07-30 18:50] simduchaine commented on #23
Really need this indeed!

[2019-07-31 04:16] cmseeling commented on #581
I was running into the same issue and ended up duplicating my project, adding files in one at a time.

The build command kept working in the clean version until I added in the .env file. The version I was using had NODE_ENV=development so I tried changing that value to production and the build command succeeded.

[2019-07-31 07:05] arttemiuss43 opened #584 "Different js filenames from one build to another"
Every page and template has its own javascript file and names of those files are specific for every build.  Services like Netlify have to reprocess every single generated page every single time because checksum is changed. I have 1700 pages and it takes about five minutes to just process them after Gridsome build is finished. Can we keep JS filenames the same from one build to another?

[2019-07-31 10:59] Al-Rozhkov commented on #516
We definitely should close this one. Fix for the issue has been commited (including test).

[2019-07-31 10:59] #516 closed

[2019-07-31 12:05] Al-Rozhkov commented on #55
This is well [described in docs](https://gridsome.org/docs/assets-css#global-preprocessor-files-ie-variables-mixins) and works as expected. I guess we can close this.

[2019-07-31 13:06] eladcandroid commented on #167
I'm using gridsome-plugin-pwa but I don't understand why you go over all assets/static images and add them to manifest.json as icons...

From node_modules/gridsome-plugin-pwa/files/manifest.js:

[code]

[2019-07-31 15:58] simduchaine commented on #557
@u12206050 I'm trying to fetch my blog `https://voyage.simonduchaine.com`. REST API is active and functional (tested it in Postman).

You can test this. Nothing fancy on my project, just the default starter gridsome config and added the `source-wordpress` plugin in my `gridsome.config.js`.

[2019-08-01 09:51] gongph opened #585 "sharp: Command failed"
## Description

env
1. win7 64
2. node@10.15.x
3. npm@6.4.1
4. yarn@1.15.1
5. python@3.7.x

### Steps to reproduce

1. gridsome create my-gridsome-site. error report:

[code]
2. cd my-gridsome-site
3. yarn install. error report:

[code]
why?

[2019-08-02 11:02] thomas-evensen opened #586 "Question: Vue filtering from graphql dataset"
Hi!

How do I create a dynamical filter using a computed property from vue and the graphql dataset from gridsome? I've looked at several articles that all use the array.filter()-method, but I can't get it to work on my case. It seems like the "node"-part of the graphql-object ($page.posts.edges.node.[values]) are making it difficult to use the array.filter(). Is there a way of removing the "node"-

[2019-08-02 11:35] hjvedvik commented on #586
Computed properties in a Vue component should return your filtered data like this:

[code]
With this computed property, there is no need to call a `getfilteredData` method on `keyup`. The reactivity system in Vue will automatically re-evaluate `filteredData` and re-render your template when `search` is changed :)

[2019-08-02 12:46] thomas-evensen commented on #586
That worked. Thanks!

[2019-08-02 16:18] Cloud-O opened #587 "-"
-

[2019-08-02 16:20] #587 closed

[2019-08-03 17:41] cartoonmadrasah opened #588 "Accessing Arrays within arrays."
I guess I am not even sure what the proper title should be. But here is my problem. I am using [Vue-Gallery](https://www.npmjs.com/package/vue-gallery) to display images in a lightbox. Everything is running fine, except I am unable to display the array of images because of my graphql structure which is like this:

![Image 1](https://user-images.githubusercontent.com/7679807/62415186-156a6580-b63f-

[2019-08-03 17:56] u12206050 commented on #588
It seems like `images` is the array so yes a computed property would best
to extract the `_text` property.

[code]

Then on the component assign `:images="images"`

On Sat, 3 Aug 2019, 19:41 Cartoon Madrasah, <notifications@github.com>
wrote:

[2019-08-03 18:02] cartoonmadrasah commented on #588
Yes, working great. Thank you so much. It solves so many of my problems. Thank you once again!

[2019-08-03 18:02] #588 closed

[2019-08-03 18:46] #513 closed

[2019-08-05 09:22] u12206050 commented on #585
Have you tried to run `npm install` or `yarn install` from within your project directory?

[2019-08-05 12:54] hacknug opened #589 "Fix broken Percy.io tests"
## Description

Trying to set [Percy](https://percy.io/)'s [CLI](https://docs.percy.io/docs/command-line-client#section-generating-snapshots) up with a Gridsome project. The way this works is you tell the CLI where to look for files to snapshot and it takes it from there.

The issue is opening files like `build/pageName/index.html` shows [Gridsome's 404 component](https://github.com/gridsome/grids

[2019-08-05 14:21] atilacamurca opened #590 "Problem with plugin-critical when using pathPrefix"
## Description

The `plugin-critial` shows an error when pathPrefix is different than `/`. When I execute `gridsome build`, this is shown on console:

[code]

### Steps to reproduce

- Set `pathPrefix` to a value different than `/`.
- Configure `plugin-critical`
- Run `gridsome build`

### Expected result

`plugin-critcal` should export a correct version of the modified css to `/dist`, instead of

[2019-08-05 15:46] #586 closed

[2019-08-05 18:50] xyNNN commented on #434
I can confirm the proper behaviour with Gridsome v0.6.7 and it is working for me. So I think we can close this issue. Thanks!

[2019-08-05 18:50] #434 closed

[2019-08-05 22:28] kaigon commented on #585
I'm running into the same errors.

win7 64
node@10.16.1
npm@6.10.2
python@2.7.15

(not using `yarn`)

Same errors **`gongph`** is encountering. Doesn't matter if I install via `gridsome create`, or if I enter the newly created directory and `npm install` there.

[code]

[2019-08-06 11:09] janvorisek commented on #39
Great work on the PR #424 so far.

I'm curious if anyone got Vue SFC working in the content files. Possibly without using markdown?
I'd sacrifice Markdown support in blog post content files for the ability to use components.

[2019-08-06 15:59] joaquimds opened #592 "Question about the Pages API"
Thank you for creating such a fantastic framework for building static sites with Vue!

I have a question about the Pages API. If this is the wrong forum to ask general questions then do let me know.

I am using WordPress to manage content, and the WordPress source plugin to generate static pages. This works very well, but there are some pages that need unique markup. For example – there is a 'map'

[2019-08-06 19:28] andrew-gw opened #593 "Gridsome Build Doesn't Work"
## Description

I type `gridsome build` on the example project, and it generates files without error. I try to load the contents of `/dist/` either in a browser locally, or from my server after uploading the contents via FTP. All assets are 404'ing. I thought this was a permissions issue, but I can set them all to 777 and the thing still doesn't work. The files are seemingly named correctly as it

[2019-08-06 20:36] andrew-gw commented on #593
I solved this on my own after running into many walls and finding no help, which was a horrible introduction to this "stack".

For posterity / future reference, I had to set `pathPrefix` to `/gridsome` in `gridsome.config.js`, which was mentioned nowhere. Apparently the paths can't be relative for some reason.

[2019-08-06 20:36] #593 closed

[2019-08-06 22:27] jxlstudio commented on #578
I'm having this issue with my Slug field when generating the schema from Airtable. All my slugs are plain text with no numbers/integers.

Tried rebuilding, did not work.

[2019-08-07 12:10] Epenance commented on #23
This feature would indeed be great, or at least a guide line to how you would implement a multi language site.

Considering moving my personal site, a custom Angular app with WordPress over to Gridsome with Markdown files, but I need multi language in order to get this to work.

[2019-08-07 15:45] jxlstudio commented on #23
Can't be "Ready for global domination" without internationalization built in.

[2019-08-07 19:28] atilacamurca commented on #443
@Al-Rozhkov, you state that you couldn't reproduce the problem locally, but have you use the same project configured in the codesandbox? Can you download the project and test that again?

I was able to reproduce it myself using node v10.16.1. I think I forgot to mention that the async component is also a functional component, and I think that is causing the problem.

The error when I run `gridsome

[2019-08-08 01:06] freshyill opened #594 "Relative image paths"
Sorry but I'm completely confused by how Gridsome handles relative image paths.

Right now, the  frontmatter in my markdown is `image: /media/image.jpg`, and the media directory exists at the root of my project.

[code]
The expected values ends up in the resulting image tag, but the problem is that `/media/image.jpg` doesn't exist.

How do I get Gridsome to point to this? Alternatively, can I get